﻿@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Mantenimientos.js")"></script>
}
<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Mantenimientos</li>
    </ol>
</section>
<section class="content">

    <div class="box-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Mantenimientos</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default" id="btnNuevo">Nuevo</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cnID_Mantenimiento">Mantenimiento:</label>
                            @Html.DropDownList("cnID_Mantenimiento", (List<SelectListItem>)ViewBag.ListadoMantenimientos, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cnID_Mantenimiento">&nbsp;</label>
                            <select class="form-control" id="ddlSubgrupos"></select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="cnID_Mantenimiento">&nbsp;</label>
                        <div class="form-group">
                            <a href="#" class="btn btn-success" id="btnBuscar">Buscar</a>
                        </div>
                    </div>
                </div>

                <div id="divListadoItems">

                </div>


            </div>
        </div>
    </div>
</section>

@section inpage_scripts{
    <script type="text/javascript">
@if (ViewBag.action == "saved")
{
    <text>
        ShowResponse("OK");
        </text>
}

        $("#btnNuevo").click(function () {
            location.href = "@Url.Content("~/Mantenimiento/Edit?padre=0")";
        })
    </script>
}