﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Selección Personal</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">

    @*<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">*@
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="@Url.Content("~/Content/css/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- Font Awesome Icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="@Url.Content("~/Content/css/dist/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/css/plugins/iCheck/square/blue.css")" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page" id="eBody">
    <div class="login-box">
        <div class="login-logo image ">

            <img src="@Url.Content("~/Content/logo_app.jpg")" class="img-responsive img-logo-app">

        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <h3 class="text-center">Selección de Personal</h3>

            <form role="form" id="frmLogin">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Correo electrónico" id="txtEmail" name="txtEmail" required="required" autocomplete="off" maxlength="100" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Contraseña"
                           id="txtPassword" name="txtPassword" required="required"
                           minlength="6" maxlength="15"
                           data-fv-stringlength-message="Ingrese mínimo 6 caracteres" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                </div>
                <div class="row">
                    <!--<div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Recordar
                            </label>
                        </div>
                    </div>-->
                    <!-- /.col -->
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat pull-right" id="btnIngresar">Iniciar sesión</button>
                    </div><!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links">
                <a href="@Url.Content("~/Auth/Recuperar")">Olvidé mi contraseña</a><br>
                <a href="@Url.Content("~/Seleccion/Registro?a=new")">Registrarse como nuevo usuario</a>
            </div>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.3 -->
    <input type="hidden" id="hdnUrlLogin" value="@Url.Content("~/Auth/ValidUser")">
    <input type="hidden" id="hdnUrlUserPage" value="@Url.Content("~/Auth/Welcome")">

    <script src="@Url.Content("~/Content/css/plugins/jQuery/jQuery-2.1.3.min.js")"></script>

    <!-- Bootstrap 3.3.2 JS -->
    <script src="@Url.Content("~/Content/css/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/Content/css/bootstrap/js/validator.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/formValidation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.validator.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/css/bootstrap/js/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/dist/js/global.js")" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/css/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Auth.js")"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>
</html>