﻿@model SalarDb.CodeGen.Model.tbExperienciaDocenciaModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/ExperienciaDocencia.js")"></script>
}

<section class="content-header">

    <h1>@*Experiencia Laboral*@</h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Experiencia Laboral Docencia</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("SaveExperienciaDocencia", "Laboral", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        @Html.HiddenFor(model => model.cnID_ExperienciaDocencia)
        @Html.HiddenFor(model => model.cnID_Candidato)

        <div class="box-body">
            <div class="panel panel-info">
                <div class="panel-heading">

                    <div id="alertas" style="display:block">
                        @if (ViewBag.Action != "saved")
                        {
                        <div class="alert alert-warning pt-4" role="alert">
                            ADVERTENCIA: Asegúrese de colocar solo información que sea acreditado con documento (Constancia, Certificado, Resoluciones, otros).
                        </div>
                        }
                        @if (ViewBag.Action == "saved")
                        {
                            <div class="alert alert-danger pt-4" role="alert">
                                IMPORTANTE: Para completar el registro del nuevo documento, adjunte el PDF que acredite los datos agregados.
                            </div>
                        }
                    </div>
                    <div id="alertSaved" style="display:none">
                        <div class="alert alert-success pt-4" role="alert">
                            Los cambios se guardaron satisfactoriamente.
                        </div>
                    </div>

                    <h3>Experiencia Laboral Docencia</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctNombreEmpresa">Institución:</label>
                                @Html.TextBoxFor(model => model.ctInstitucion, new { @class = "form-control text-uppercase", placeholder = "Institución", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cnID_TipoEntidad">Tipo:</label>
                                @Html.DropDownListFor(model => model.cnID_TipoInstitucion, (List<SelectListItem>)ViewBag.TipoEntidades, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cfFechaNacimiento">Fecha Inicio:</label>
                                <div class='input-group date' id='txtFechaInicioContainer'>
                                    @Html.TextBoxFor(model => model.cfFechaInicio, new { @class = "form-control", placeholder = "Fecha Inicio", required = "required" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cnDocenteInvestigador">Docente Investigador:</label>
                                <div class='input-group date' id='txtFechaInicioContainer'>
                                    @Html.RadioButtonForSelectList(model => model.cnDocenteInvestigador, (List<SelectListItem>)ViewBag.DocenteInvListado)

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_CategoriaDocente">Categoría Docente:</label>
                                @Html.DropDownListFor(model => model.cnID_CategoriaDocente, (List<SelectListItem>)ViewBag.CategoriasDocente, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cnID_RegimenDedicacion">Régimen Dedicación:</label>
                                @Html.DropDownListFor(model => model.cnID_RegimenDedicacion, (List<SelectListItem>)ViewBag.RegimenesDedicacion, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cnRegistradoDINA">Registrado en CTI Vitae (ex DINA):</label>
                                @Html.RadioButtonForSelectList(model => model.cnRegistradoDINA, (List<SelectListItem>)ViewBag.RegistradoDINA)


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_RegimenDedicacion">Nro Registro CTI Vitae (ex DINA):</label>
                                @Html.TextBoxFor(model => model.ctNumeroRegistroDINA, new { @class = "form-control text-uppercase", placeholder = "Nro Registro DINA", required = "required", maxlength = "100", disabled = "disabled" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <p>Experiencia en Institución: <input type="button" class="btn btn-info btn-xs" value="+" id="btnAgregarDet" /></p>
                        <div id="divExperienciaDet"></div>
                    </div>
                </div>
                <div class="box-footer text-center">

                    <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardar">@((Model.cnID_ExperienciaDocencia == 0) ? "Guardar" : "Actualizar")</button>
                </div>



                @if (Model.cnID_ExperienciaDocencia == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <section id="no-more-tables">
                                <table class="table table-striped table-hover" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Institución</th>
                                            <th>Tipo de Institución</th>
                                            <th>Categoría</th>
                                            <th>Fecha Inicio</th>
                                            <th>Doc. Investigador</th>
                                            <th>Reg. DINA/Nº Reg.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.tbExperienciaDocenciaModelList.Count(); i++)
                                        {
                                            var item = Model.tbExperienciaDocenciaModelList[i];
                                            <tr id="row_id_@item.cnID_ExperienciaDocencia">
                                                <td data-title="Eliminar" class='deleterow' onclick="removeRow(this,@item.cnID_ExperienciaDocencia)"><div class='glyphicon glyphicon-remove' title="Eliminar"></div></td>
                                                <td data-title="Editar" class='editrow' onclick="editRow(@item.cnID_ExperienciaDocencia)"><div class='glyphicon glyphicon-edit' title="Editar"></div></td>
                                                <td data-title="Institución">@item.ctInstitucion</td>
                                                <td data-title="Tipo">@(((List<SelectListItem>)ViewBag.TipoEntidades).Find(x => x.Value == item.cnID_TipoInstitucion.ToString()).Text)</td>
                                                <td data-title="Categoría">@(((List<SelectListItem>)ViewBag.CategoriasDocente).Find(x => x.Value == item.cnID_CategoriaDocente.ToString()).Text)</td>
                                                <td data-title="Fecha Inicio">@item.cfFechaInicio.ToShortDateString()</td>
                                                <td data-title="Doc. Investigador">@(item.cnDocenteInvestigador ? "SI" : "NO")</td>
                                                <td data-title="Reg. DINA/Nº Reg.">@(item.cnRegistradoDINA ? "SI (" + item.ctNumeroRegistroDINA + ")" : "NO")</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                }

            </div>
        </div>

    }

    <div id="rowTemplate" class="hidden">
        <div class="row">
            <div class="col-sm-1">
                <a href="#"><div class='glyphicon glyphicon-remove' title="Eliminar" onclick="removeRowDet(this)"></div></a>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.Hidden("cnID_ExperienciaDocenciaDet[]", "0", new { @class = "csscnID_ExperienciaDocenciaDet" })
                    @Html.DropDownList("cnID_Grado[]", (List<SelectListItem>)ViewBag.GradosExperiencia, new { name = "cnID_Grado[]", @class = "form-control input-sm", required = "" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.DropDownList("cnID_TipoExperiencia[]", (List<SelectListItem>)ViewBag.TiposExperiencia, new { name = "cnID_TipoExperiencia[]", @class = "form-control input-sm", required = "" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.TextBox("ctDescripcion[]", "", new { name = "ctDescripcion[]", @class = "form-control input-sm", placeholder = "Descripción", required = "" })
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    @Html.TextBox("cnTiempoExperiencia[]", "", new { name = "cnTiempoExperiencia[]", @class = "form-control input-sm", placeholder = "Tiempo", required = "" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    @Html.DropDownList("cnID_UnidadMedida[]", (List<SelectListItem>)ViewBag.UnidadesMedidaExperiencai, new { name = "cnID_UnidadMedida[]", @class = "form-control input-sm", required = "" })
                </div>
            </div>

        </div>
    </div>

    <div id="formBloque">

        @{
            var data = ViewBag.document;
        }

        <div class="box-body">

            @if (data != null)
            {
                <h3>Último documento adjuntado</h3>
                <br />
                <label>Documento             : </label> <p>@data.Documento </p>
                <label>Fecha de modificación : </label><p>@data.Actualizacion</p>
                <label>Fecha de Creación     : </label> <p>@data.Creacion</p>

                <button type="button" class="btn btn-danger" onClick="document.getElementById('divCargarArchivo').scrollIntoView();"> Actualizar  </button>
                @Html.ActionLink("Descargar", "DownloadFile", "Seleccion", new { file = data.Documento }, new { target = "_blank", @class = "btn btn-primary" })
            }
            </div>

        @using (Html.BeginForm("SaveExperienciaDocenciaBloque", "Laboral", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
        {

            @Html.HiddenFor(model => model.cnID_Candidato)
            @Html.Hidden("ctCerfificado[]", "0", new { @class = "cssctCerfificado" })


            <div class="box-body">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3>Adjuntar Documento</h3></div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="ctApellidoPaterno"><span class="text-danger">(Sólo formato PDF y con tamaño máximo de 3mb)</span>:</label>
                                    @*<a href="" class="lnkDescargaFichero" target="_blank">Descargar</a>*@
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input id="inputArchivo" type="file" name="txtCertificado"></span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                    <div id="msgerror" class="text-danger" style="display:none">Aún no se ha subido ningún archivo.</div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-center">

                        <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                        @*<button type="submit" class="btn btn-primary" id="btnGuardar">@((Model.cnID_ExperienciaDocencia == 0) ? "Guardar" : "Actualizar")</button>*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btnMostrarTerms">@((Model.cnID_ExperienciaDocencia == 0) ? "Guardar" : "Actualizar")</button>

                    </div>

                    <!-- Modal TERMINOS -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Aceptación de Términos</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body text-justify">
                                    <div class="container-fluid">
                                        <p class="text-bold">Declaro bajo juramento:</p>
                                        <ol>
                                            <li>Que, la información de mi hoja de vida y documentos que adjunto, además de la actualización, correspondiente a mi formación profesional y experiencia laboral y profesional, se sujeta a la verdad, asumiendo la responsabilidad administrativa, penal o civil en caso que se demuestre lo contrario. </li>
                                            <li>Que, autorizó a la EPG Universidad Continental, el uso de la información de la hoja de vida y documentos de mi formación profesional y experiencia laboral y profesional, para uso en procedimiento de selección con el Estado y del ámbito Privado para desempeño como docente o consultor, previa aceptación y posterior coordinación.</li>
                                        </ol>

                                        <p>
                                            La EPG UC se reserva el derecho de excluir de manera inmediata a los profesionales que habiendo ingresado los documentos de su experiencia profesional y experiencia laboral en el sistema de la  EPG UC,  por incumplimiento de las disposiciones del Reglamento Académico o cuando no se cumplan los requisitos mínimos exigidos para el acceso docente a la EPGUC.

                                        </p>
                                        @*<div class="d-flex justify-content-center">*@
                                        <div class="col-lg-8 center-block" style="float:none">
                                            @Html.CheckBoxFor(model => model.ctAceptaTerminos, new { @id = "chkcondition" })<label style="margin-left:10px;" for="chkcondition">Acepto y quedo conforme con lo antes descrito</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary" id="btnGuardar" onclick="javascript:return AcceptTermAndcondition();">@((Model.cnID_ExperienciaDocencia == 0) ? "Guardar" : "Actualizar")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* FIN MODAL TERMINOS *@
                </div>
            </div>

        }




    </div>



</section>
@Html.Hidden("hdnDownloadFileUrl", @Url.Content("~/Seleccion/DownloadFile"))

@section inpage_scripts{
    <script type="text/javascript">
    //$("#btnAgregarDet").hide();
    //$("input[name=cnRegistradoDINA]").change(function(){
    //    $("#btnAgregarDet").hide();
    //    if($("input[name=cnRegistradoDINA]:checked").val()=='true')
    //        $("#btnAgregarDet").show();
    //})

    var warnBeforeClose = true;

    if (@Html.Raw(Json.Encode(ViewBag.Action)) == "saved") {
        warnBeforeClose = true;
    } else {
        warnBeforeClose = false;
    }

    if (window.location.href.indexOf("saved/0") > -1) {
        warnBeforeClose = false;
        var x = document.getElementById("alertas");
        var y = document.getElementById("alertSaved");
        x.style.display = "none";
        y.style.display = "block";

    }



     function AcceptTermAndcondition() {

            if ($("#chkcondition").is(':checked')) {
                return true;
            }
            else {
                alert("Debe aceptar los términos descritos.");
                return false;
            }
    }

        $('#btnMostrarTerms').bind("click",function() 
    { 
        var fileVal = $('#inputArchivo').val(); 
        if(fileVal=='') 
        { 
            $("#msgerror").css("display", "block");
            return false; 
        } 


    }); 

    function unloadPage(){
        if (warnBeforeClose) {

            $.post('@Url.Content("~/Laboral/DeleteExperienciaDocenciaTemporal")', { id: @Html.Raw(Json.Encode(Model.cnID_Candidato)) },
            function (resp) {
                if (resp.result == "OK") {
                    return true;

                }
                else
                    return false;

                });
            return "Your changes will not be saved.";
        }
    }
    window.onbeforeunload = unloadPage;


    $('form').formValidation(
         {
             excluded: [':disabled'],
             fields: {
                 txtCertificado: {
                     validators: {
                         file: {
                             extension: 'pdf',
                             type: 'application/pdf',
                             maxSize: $("#hdnMaxSizeFile").val(),
                             message: 'Sólo se permiten archivos en formato PDF con un tamaño de hasta 3 MB.'
                         }
                         //notEmpty: {
                         //    message: ' '
                         //}
                     }


                 }
             }
         }
        )
        .on('err.field.fv', function (e, data) {

            //if (data.field == 'txtCertificado') return;

            // Hide the messages
            data.element
                .data('fv.messages')
                .find('.help-block[data-fv-for="' + data.field + '"]').hide();
        })
        .on('submit', function (e) {

            //$("#divCargarArchivo").removeClass("has-error");

            //if ($("input[name=txtCertificado]").val() == '') {
            //    $("#divCargarArchivo").addClass("has-error");
            //    return false;
            //}

            if (e.isDefaultPrevented()) {
                // handle the invalid form...

            }
            else {
                warnBeforeClose = false;

                // ...but if we're still on the page a second later, set the flag again
                setTimeout(function() {
                    warnBeforeClose = true;
                }, 1000);
                return true;

            }

        });



    function removeRow(obj, _id) {
        //alert(_id);
        if (_id > 0) {
            bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                $.post('@Url.Content("~/Laboral/DeleteExperienciaDocencia")', { id: _id },
                    function (resp) {
                        ShowResponseDelete(resp);
                        var $killrow = $(obj).parent('tr');
                        $killrow.addClass("danger");
                        $killrow.fadeOut(100, function () {
                            $(this).remove();
                        });
                    });
            });
        }
        else {


            var $killrow = $(obj).parent('tr');
            $killrow.addClass("danger");
            $killrow.fadeOut(100, function () {
                $(this).remove();
            });
        }
    }

    function editRow(_id) {
        var url = '@Url.Content("~/Laboral/Docencia/")';
        location.href = url + _id;
    }

    $("#btnCancelar").click(function () {
        var url = '@Url.Content("~/Laboral/Docencia/")';
        location.href = url;
    });

    @if (ViewBag.action == "saved")
        {
            <text>
    ShowResponse("OK");
    SelectRow('tab_logic', 'row_id_' + @ViewBag.id);
    </text>
        }


        @*@if(Model.cnID_Experiencia>0)
        {
            <text>
        $('form').data('formValidation').enableFieldValidators('txtCertificado', false);

        </text>
        }*@


    @if (Model.cnID_ExperienciaDocencia == 0)
        {
            <text>
    $("#cfFechaInicio").val("");
    $("#cfFechaFin").val("");
    </text>
        }
    else
    {
        <text>
    $("input[name=cnRegistradoDINA]").trigger('change');
    </text>

        if (Model.cnRegistradoDINA)
        {

        }
    }

        $("#btnAgregarDet").click(function(){
            var html = $("#rowTemplate").html();
            var $template = $(html);
            $("#divExperienciaDet").append($template);

            $('form').formValidation('addField', $template.find('[name="cnID_Grado[]"]'));
            $('form').formValidation('addField', $template.find('[name="cnID_TipoExperiencia[]"]'));
            $('form').formValidation('addField', $template.find('[name="ctDescripcion[]"]'));
            $('form').formValidation('addField', $template.find('[name="cnTiempoExperiencia[]"]'));
            $('form').formValidation('addField', $template.find('[name="cnID_UnidadMedida[]"]'));
            //$('form').formValidation('addField', $template.find('[name="txtCertificado"]'));
            //$('form').formValidation('addField', $template.find('[name="txtCertificado[]"]'));

            $template.find('.lnkDescargaFichero').hide();

        })




        function removeRowDet(p) {

            var obj = p;
            var id =$(obj).parent().parent().parent().find('[name="cnID_ExperienciaDocenciaDet[]"]').val()
            if(id=="0")
            {
                $("#divExperienciaDet").find($(obj).parent().parent().parent()).remove();
                $('form').formValidation('removeField', $(this).find('[name="cnID_Grado[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="cnID_TipoExperiencia[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="ctDescripcion[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="cnTiempoExperiencia[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="cnID_UnidadMedida[]"]'));
                //$('form').formValidation('removeField', $(this).find('[name="txtCertificado[]"]'));
            }
            else{
                bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                    $.post('@Url.Content("~/Laboral/DeleteExperienciaDocenciaDet")', { id: id },
                    function (resp) {
                        ShowResponseDelete(resp);
                        $("#divExperienciaDet").find($(obj).parent().parent().parent()).remove();
                    });
            });

        }
    }

    @if (Model.tbExperienciaDocenciaDetModelList!=null)
        {
        if (Model.tbExperienciaDocenciaDetModelList.Count > 0)
        {
            for (int i = 0; i < Model.tbExperienciaDocenciaDetModelList.Count; i++)
			{
                var item = Model.tbExperienciaDocenciaDetModelList[i];
                string variableTmp="$temp"+i.ToString()+"";
			 <text>
    $("#btnAgregarDet").trigger('click');

    var @(variableTmp) = $("#divExperienciaDet").children()[@i];
    @("$("+variableTmp+")").find('[name="cnID_ExperienciaDocenciaDet[]"]').val("@item.cnID_ExperienciaDocenciaDet");
    @("$("+variableTmp+")").find('[name="cnID_Grado[]"]').val("@item.cnID_Grado");
    @("$("+variableTmp+")").find('[name="cnID_TipoExperiencia[]"]').val("@item.cnID_TipoExperiencia");
    @("$("+variableTmp+")").find('[name="ctDescripcion[]"]').val("@item.ctDescripcion");
    @("$("+variableTmp+")").find('[name="cnTiempoExperiencia[]"]').val("@item.cnTiempoExperiencia");
    @("$("+variableTmp+")").find('[name="cnID_UnidadMedida[]"]').val("@item.cnID_UnidadMedida");


    @("$("+variableTmp+")").find('.lnkDescargaFichero').show();
    @("$("+variableTmp+")").find('.lnkDescargaFichero').attr("href",'@(Url.Content("~/Seleccion/DownloadFile?file="+item.ctCerfificado))');







    </text>
			}

        }
        }

    </script>
}