﻿@model SalarDb.CodeGen.Model.tbReferenciaModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/ReferenciaLaboral.js")"></script>
}

<section class="content-header">

    <h1>@*Referencia Laboral*@</h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Referencia Laboral</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("SaveReferencia", "Laboral", FormMethod.Post, new { role = "form" }))
    {
        @Html.HiddenFor(model => model.cnID_Referencia)
        @Html.HiddenFor(model => model.cnID_Candidato)

        <div class="box-body">
            <div class="panel panel-info">
                <div class="panel-heading"><h3>Referencia Laboral</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ctNombreCompleto">Apellidos y Nombres:</label>
                                @Html.TextBoxFor(model => model.ctNombreCompleto, new { @class = "form-control text-uppercase", placeholder = "Apellidos y Nombres", pattern = "^[a-zA-Z ]+$", required = "required" })
                                <span class="help-block">Sólo se permiten letras</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ctNombreEmpresa">Empresa:</label>
                                @Html.TextBoxFor(model => model.ctNombreEmpresa, new { @class = "form-control text-uppercase", placeholder = "Empresa", required = "required" })                                
                            </div>
                        </div>
                      
                    </div>

                    <div class="row">                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctCargo">Cargo:</label>
                                @Html.TextBoxFor(model => model.ctCargo, new { @class = "form-control text-uppercase", placeholder = "Cargo", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctTelefono">Teléfono:</label>
                                @Html.TextBoxFor(model => model.ctTelefono, new { @class = "form-control", placeholder = "Teléfono", required = "required"})
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                @if (Model.cnID_Referencia == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <section id="no-more-tables">
                                <table class="table table-striped table-hover" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Apellidos y Nombres</th>
                                            <th>Empresa</th>
                                            <th>Cargo</th>
                                            <th>Teléfono</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.tbReferenciaModelList.Count(); i++)
                                        {
                                            var item = Model.tbReferenciaModelList[i];
                                            <tr id="row_id_@item.cnID_Referencia">
                                                <td data-title="Eliminar" class='deleterow' onclick="removeRow(this,@item.cnID_Referencia)"><div class='glyphicon glyphicon-remove' title="Eliminar"></div></td>
                                                <td data-title="Editar" class='editrow' onclick="editRow(@item.cnID_Referencia)"><div class='glyphicon glyphicon-edit' title="Editar"></div></td>
                                                <td data-title="Apellidos y Nombres">@item.ctNombreCompleto</td>
                                                <td data-title="Empresa">@item.ctNombreEmpresa</td>
                                                <td data-title="Cargo">@item.ctCargo</td>
                                                <td data-title="Teléfono">@item.ctTelefono</td>                                           
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                }
                <div class="box-footer text-center">

                    <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardar">@( (Model.cnID_Referencia == 0) ? "Guardar" : "Actualizar")</button>
                </div>
            </div>
        </div>

    }
</section>

@section inpage_scripts{
    <script type="text/javascript">
        function removeRow(obj, _id) {
            //alert(_id);
            if (_id > 0) {
                bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                    $.post('@Url.Content("~/Laboral/DeleteReferencia")', { id: _id },
                        function (resp) {
                            ShowResponseDelete(resp);
                            var $killrow = $(obj).parent('tr');
                            $killrow.addClass("danger");
                            $killrow.fadeOut(100, function () {
                                $(this).remove();
                            });
                        });
                });
            }
            else {


                var $killrow = $(obj).parent('tr');
                $killrow.addClass("danger");
                $killrow.fadeOut(100, function () {
                    $(this).remove();
                });
            }
        }

        function editRow(_id) {
            var url = '@Url.Content("~/Laboral/Referencias/")';
            location.href = url + _id;
        }

        $("#btnCancelar").click(function () {
            var url = '@Url.Content("~/Laboral/Referencias/")';
            location.href = url;
        });

        @if (ViewBag.action == "saved")
        {
            <text>
        ShowResponse("OK");
        SelectRow('tab_logic', 'row_id_' + @ViewBag.id);
        </text>
        }

    </script>
}