﻿@model SalarDb.CodeGen.Model.tbAreaTematicaModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
    int n = 2;
}
@section view_scripts{
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap/css/bootstrap-tagsinput.css")" />


    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tagsinput.min.js")"></script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/view/AreaTematica.js")"></script>

}

@section css_styles{
    <style type="text/css">
        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Áreas Temáticas</li>
    </ol>
</section>
<section class="content">

    <div class="box-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Área Temática</h3></div>
            <div class="panel-body">
                <div class="row">
                    <p>Áreas temáticas de dominio para el dictado de cursos:</p>
                    <div class="col-md-3">
                        <div class="form-group">
                            @*@Html.ListBox("ddlNivel_1", (List<SelectListItem>)ViewBag.Nivel1List, new { @class = "form-control ddlNormal ddlFirst", data_next_level = "2", current_level = 1, size = 10 })*@
                            @Html.ListBox("ddlNivel_1", (List<SelectListItem>)ViewBag.Nivel1List, new { @class = "form-control ddlNormal ddlLast", data_next_level = "2", current_level = 1, size = 10 })
                        </div>
                    </div>

                    @*<div class="col-md-3">
                        <div class="form-group">
                            @Html.ListBox("ddlNivel_2", (List<SelectListItem>)ViewBag.Nivel2, new { @class = "form-control ddlNormal ddlSecond", data_next_level = "3", current_level = 2, size = 10 })
                        </div>
                    </div>*@

                    @*<div class="col-md-3">
                        <div class="form-group">
                            <div id="chkLastLevelList">
                            </div>
                        </div>
                    </div>*@



                    @for (int i = 2; i <= n; i++)
                    {
                        if (i != n)
                        {
                            var last = (i == n - 1);
                            <div class="col-md-3">
                                <div class="form-group">

                                    @*@Html.ListBox("ddlNivel_" + @i, new List<SelectListItem>(), new { @class = "form-control ddlNormal" + (last ? " ddlLast" : ""), data_next_level = (i + 1), current_level = @i, size = 10 })*@
                                    @*@Html.ListBox("ddlNivel_" + @i, (List<SelectListItem>)ViewBag.Nivel1List, new { @class = "form-control ddlNormal" + (last ? " ddlLast" : ""), data_next_level = (i + 1), current_level = @i, size = 10 })*@

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div id="chkLastLevelList">
                                    </div>
                                </div>
                            </div>
                        }
                    }






                </div>

                <div class="row">
                    <div class="box-footer text-center">
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>

                @Html.HiddenFor(model => model.cnID_AreaTematica)
                @Html.HiddenFor(model => model.cnID_Candidato)
                <div class="row">
                    <p>Áreas de Dominio Específico</p>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.TextBox("txtAreaEspecifica", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <button type="reset" class="btn btn-info" id="btnAgregar">Agregar</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.TextBox("ctDominioEspecifico", "", new { name = "ctDominioEspecifico", @class = "form-control", data_role = "tagsinput", width = "200px" })
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


</section>
@section inpage_scripts{
    <script>
        $(document).ready(function () {
            $("#ctDominioEspecifico").tagsinput('add', '@Model.ctDominioEspecifico');

            // Detectar qeu cambie el valor del select

           

            
            




                
            //if ($("#ddlNivel_3.from-control.ddlNormal.ddlLast").val() == null ) {
            //    bootbox.alert("Seleccione un area temática");
            //    return;
            //}

            //});

            //$('#ddlNivel_2').change(function () {
            //    var str = "";
            //    $('#ddlNivel_3').each(function () {
            //        str += $ddlNivel1.text() + "";
            //    });

            //$.each(selectValues, function (key, value) {
            //        $('#ddlNivel_2').append($("<Option ></Option>").attr("value".key).text(value));

            //    });


            //})
                // Pintar sys option en base al ViewBag.Nivel2
            //$('#ddlNivel_2').tagsinut('add', '')
             
        });

    </script>
}