﻿@model SalarDb.CodeGen.Model.tbCandidatoModel
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Perfil.js")"></script>
}
<section class="content">
    <!-- form start -->
    <style>
        .fillme{
          overflow:hidden;
        }
        .fillme img.stretchx{
          height:auto;
          width:100%;
        }
        .fillme img.stretchy{
          height:100%;
          width:auto;
        }
    </style>
    <div class="box-body">

        <div class="panel panel-info">
            @using (Html.BeginForm("SavePerfil", "Seleccion", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
            {
                @Html.HiddenFor(model => model.ctImagenPerfil)
                <div class="panel panel-info">
                    <div class="panel-heading"><h3>Perfil</h3></div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 200px;">
                                        @if (!Model.ctImagenPerfil.IsEmpty())
                                        {
                                            <img style="height:100%; width:100%; overflow:hidden" src="@Url.Content("~/Uploads/Perfil/"+Model.ctImagenPerfil)" />
                                        }
                                    </div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileinput-new">Cambiar foto</span><span class="fileinput-exists">Cambiar</span><input type="file" name="txtImagen"></span>
                                        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="ctEmail">Tipo de Email:</label>
                                    @Html.DropDownListFor(model => model.cnID_TipoEmail, (List<SelectListItem>)ViewBag.TipoEmail, new { @class = "form-control", required = "" })
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="ctEmail">Email:</label>
                                    @Html.DropDownListFor(model => model.ctEmail, (ViewBag.Emails == null ? new List<SelectListItem>() : (List<SelectListItem>)ViewBag.Emails), new { @class = "form-control", placeholder = "Otro", required = "required" })
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ctClaveAcceso">Ingresar Contraseña:</label>
                                            @Html.PasswordFor(model => model.ctClaveAcceso, new { @class = "form-control", placeholder = "Ingresar Contraseña", data_minlength = "6", maxlength = "15" })
                                            <span class="help-block">Ingrese mínimo 6 caracteres</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ctClaveAcceso2">Repetir Contraseña:</label>
                                            <input type="password" name="ctClaveAcceso2" class="form-control" id="ctClaveAcceso2" placeholder="Repetir Contraseña" maxlength="15">
                                        </div>
                                    </div>
                                    <div class="col-md-4">


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-3" style="margin-top:20px">
                                <div class="form-group">
                                    <label for="Descripcion">Presentación:</label>
                                    @Html.TextAreaFor(model => model.ctDescripcion, new { @class = "form-control", placeholder = "Ingrese su presentacion", required = "required", maxlength = "100" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer text-center">
                        @Html.HiddenFor(model => model.cnID_Candidato)

                        <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            }
        </div>

    </div>
</section>

@section inpage_scripts{
    <script type="text/javascript">
        $(window).load(function () {

            $("#btnCancelar").click(function () {
                location.href = "@Url.Content("~/Auth/Welcome")";
            });


        });

    </script>
}

