﻿@model SalarDb.CodeGen.Model.tbProcesoModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
    bool cumpleNivelAcademico = BaseGlobal.CumpleNivelAcademico(Model.cnID_Proceso);
    string revision = cumpleNivelAcademico ? "text-green" : " text-red";
    string mensajeNoCumpleNivAcad = cumpleNivelAcademico ? string.Empty : " (No cumple)";

    bool cumpleNivelLaboralGeneral = BaseGlobal.CumpleNivelLaboralGeneral(Model.cnID_Proceso);
    string revisionGeneralLaboral = cumpleNivelLaboralGeneral ? "text-green" : " text-red";
    string mensajeNoCumpleNivLabGral = cumpleNivelLaboralGeneral ? string.Empty : " (No cumple)";


}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Postular.js")"></script>
}


<section class="content-header">

    <h1>@*Convocatoria*@</h1>


    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Convocatoria</li>
    </ol>


</section>
@*<a href="@Url.Content("GetHojaVida")" target="_blank">Hoja de vida</a>*@
<!-- Main content -->

<section class="content">
    <!-- form start -->
    @using (Html.BeginForm("SavePostulacion", "Seleccion", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        @Html.HiddenFor(model => model.cnID_Proceso)
        <div class="box-body">

            <div class="panel panel-info">
                <div class="panel-heading"><h3>Convocatoria</h3></div>

                <div class="alert alert-dismissible  alert-error" id="divMensajeNoPostulacion">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Mensaje</h4>
                    <p>Usted no cumple con los criterios solicitados. No podrá continuar con la postulación</p>
                </div>


                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="txtPostulante">Postulante:</label>
                                <input type="text" id="txtPostulante" class="form-control text-uppercase" readonly value="@BaseGlobal.UsuarioActual.FullName" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="ctTitulo">Proceso/Convocatoria:</label>
                                @Html.TextBoxFor(model => model.ctTitulo, new { @class = "form-control text-uppercase", @readonly = "readonly", placeholder = "Proceso/Convocatoria" })

                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.ctDescripcion, new { @class = "form-control text-uppercase", @readonly = "readonly", placeholder = "Descripción" })
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-8">

                            <div class="box box-solid">
                                <div class="box-header with-border @revision">
                                    <i class=" fa fa-mortar-board">
                                    </i>
                                    <h3 class="box-title">Criterio Académico Requerido @mensajeNoCumpleNivAcad</h3>

                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul>


                                        @for (int i = 0; i < Model.tbProcesoCnfgAcadModelList.Count; i++)
                                        {
                                            var item = Model.tbProcesoCnfgAcadModelList[i];
                                            <li>
                                                @item.ctDescripcion
                                            </li>
                                        }
                                    </ul>
                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>



                    <div class="row">

                        <div class="col-md-8">

                            <div class="box box-solid">
                                <div class="box-header with-border ">
                                    <i class="fa fa-building"></i>
                                    <h3 class="box-title ">Criterio Laboral Requerido </h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <ul>
                                        <li>
                                            <p class="@revisionGeneralLaboral">Laboral General @mensajeNoCumpleNivLabGral</p>

                                            <ul class="margin-bottom">
                                                @foreach (SalarDb.CodeGen.Model.tbProcesoCnfgLaboModel item in Model.tbProcesoCnfgLaboList)
                                                {
                                                    if (item.cnID_TipoCriterioLabo == 235)
                                                    {
                                                        <li>
                                                            @Html.TextArea("ctDescripcion[]", item.ctDescripcion, new { @class = "form-control text-uppercase", @readonly = "readonly" })

                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li>
                                            <p id="pLaboralEspecifico">@*Laboral Específico*@</p>
                                            <ul class="margin-bottom">
                                                @foreach (SalarDb.CodeGen.Model.tbProcesoCnfgLaboModel item in Model.tbProcesoCnfgLaboList)
                                                {
                                                    if (item.cnID_TipoCriterioLabo == 236)
                                                    {
                                                        <li>
                                                            @Html.TextArea("ctDescripcion[]", item.ctDescripcion, new { @class = "form-control text-uppercase", @readonly = "readonly" })
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                            <p>Seleccione los registros que se relacionen al criterio</p>
                                            <table class="table table-striped table-hover" id="tab_crit_acad">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Entidad</th>
                                                        <th>Cargo desempeñado</th>
                                                        <th>Años</th>
                                                        <th>Meses</th>
                                                        <th>Marcar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{

                                                int index = 1;

                                                foreach (SalarDb.CodeGen.Model.tbExperienciaModel item in ViewBag.ExperienciaCandidatoList)
                                                {
                                                    <tr>
                                                        <td>@index</td>
                                                        <td>@item.ctNombreEmpresa</td>
                                                        <td>@item.ctDescripcionCargo</td>
                                                        <td>@item.cnTiempoAnios</td>
                                                        <td>@item.cnTiempoMeses</td>
                                                        <td>
                                                            <div class="checkbox">
                                                                <label>
                                                                    @Html.CheckBox("chkExperienciaList[]", false, new { value = item.cnID_Experiencia, @class = "chkSeleccionarExpEsp", data_id_exp = @item.cnID_Experiencia })
                                                                </label>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    index++;
                                                }
                                                if (index == 1)
                                                {
                                                    <tr>
                                                        <td class="text-red" colspan="6">
                                                            No cumple con la experiencia laboral específica. No podrá continuar con la postulación.
                                                        </td>

                                                    </tr>
                                                }

                                                    }

                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>


                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-8">

                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-location-arrow"></i>
                                    <h3 class="box-title">Cobertura (lugares al que postula)</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="ddlCobertura">
                                                    @for (int i = 0; i < Model.tbProcesoCoberturaList.Count; i++)
                                                    {
                                                        var item = Model.tbProcesoCoberturaList[i];
                                                        <option value="@item.cnID_Cobertura">
                                                            @item.ctNombre
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="form-control" id="ddlCoberturaZona"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button" id="btnAgregar">Agregar</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-info" type="button" id="btnEliminar">Eliminar</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <select multiple="" class="form-control" id="ddlListadoCobertura" name="tbProcesoCoberturaZonaList[]" required></select>

                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-12">

                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-book"></i>
                                    <h3 class="box-title">Documentos requeridos</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">

                                    @for (int i = 0; i < Model.tbProcesoDocumentoModelList.Count; i++)
                                    {
                                        var item = Model.tbProcesoDocumentoModelList[i];

                                        @Html.Hidden("tbPostulanteDocuModelList[]", item.cnID_Documento)
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>@item.ctDescripcion</label>

                                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                                        <span class="input-group-addon btn btn-default btn-file">
                                                            <span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span>

                                                            @if (item.cnIndObligatorio)
                                                            {
                                                                <input type="file" class="inputFile" name="txtDocumento_@item.cnID_Documento"
                                                                       required="required"
                                                                       data-fv-notempty="true"
                                                                       data-fv-notempty-message="La carga de este archivo es obligatoria"
                                                                       data-fv-file="true"
                                                                       data-fv-file-extension="pdf"
                                                                       data-fv-file-type="application/pdf"
                                                                       data-fv-file-maxsize="@BaseGlobal.GetParameter(BaseGlobal.Parametros.FileSize)"
                                                                       data-fv-file-message="Sólo se permiten archivos en formato PDF con un tamaño de hasta 3 MB.">
                                                            }
                                                            else
                                                            {
                                                                <input type="file" class="inputFile" name="txtDocumento_@item.cnID_Documento"
                                                                       data-fv-file="true"
                                                                       data-fv-file-extension="pdf"
                                                                       data-fv-file-type="application/pdf"
                                                                       data-fv-file-maxsize="@BaseGlobal.GetParameter(BaseGlobal.Parametros.FileSize)"
                                                                       data-fv-file-message="Sólo se permiten archivos en formato PDF con un tamaño de hasta 3 MB.">
                                                            }



                                                        </span>
                                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    @if (Model.tbProcesoDocumentoModelList.Count == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>No se solicitan documentos para este proceso.</p>
                                            </div>
                                        </div>
                                    }

                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-8">

                            <div class="box box-solid">
                                <div class="box-header with-border">
                                    <i class="fa fa-mortar-board"></i>
                                    <h3 class="box-title">Criterios Adicionales (marcar solamente los que cumple)</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">



                                    @for (int i = 0; i < Model.tbProcesoCriterioAdicModelList.Count; i++)
                                    {
                                        var item = Model.tbProcesoCriterioAdicModelList[i];

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label>
                                                            @Html.CheckBox("tbProcesoCriterioAdicModelList[]", false, new { value = @item.cnID_CriterioAdicional }) @item.ctDescripcion
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                    @if (Model.tbProcesoCriterioAdicModelList.Count == 0)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>No se solicitan criterios adicionales para este proceso.</p>
                                            </div>
                                        </div>
                                    }

                                </div><!-- /.box-body -->
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="box-footer text-center">
            <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
        </div>

    }
</section>
@section inpage_scripts{
    <script type="text/javascript">

        $(window).ready(function () {

            $("#btnAgregar").attr("disabled", "disabled");

            $("#btnAgregar").click(function () {

                if($("#ddlListadoCobertura option").length>0)
                {
                    bootboxAlert("Sólo se puede postular a una zona");
                    return;
                }
                $('#ddlListadoCobertura').append($('<option>', {
                    value: $("#ddlCoberturaZona").val(),
                    text: $("#ddlCobertura option:selected").text() + ' - ' + $("#ddlCoberturaZona option:selected").text()
                }));

                $("#ddlCoberturaZona option:selected").attr("disabled", "disabled");

                $("#ddlCoberturaZona").val("");
                $('#ddlListadoCobertura option').prop('selected', true);
                $('form').formValidation('revalidateField', 'tbProcesoCoberturaZonaList[]');
            })

            $("#ddlCobertura").change(function ()
            {
                $("#btnAgregar").attr("disabled", "disabled");

                var id = $("#ddlCobertura").val();
                var $ddlCoberturaZona = $("#ddlCoberturaZona");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Content("~/Data/GetCoberturaZonas")",
                    data: { "idCobertura": id },
                    success: function (data) {

                        $ddlCoberturaZona.empty();
                        $ddlCoberturaZona.append($('<option></option>').val("").html(""));
                        $.each(data, function (_id, option) {
                            if($("#ddlListadoCobertura option[value='"+option.cnID_CoberturaZona+"']").length>0)
                                $ddlCoberturaZona.append($('<option></option>').val(option.cnID_CoberturaZona).html(option.ctZona).attr("disabled","disabled"));
                            else
                                $ddlCoberturaZona.append($('<option></option>').val(option.cnID_CoberturaZona).html(option.ctZona));
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }
                });

            })

            $("#ddlCobertura").trigger('change');

            $("#ddlCoberturaZona").change(function(){
                $("#btnAgregar").attr("disabled", "disabled");
                if($("#ddlCoberturaZona").val()!='')
                    $("#btnAgregar").removeAttr("disabled");
            });


            $("#btnEliminar").click(function () {
                if ($("#ddlListadoCobertura").val() != null) {
                    $("#ddlCobertura option[value='" + $("#ddlListadoCobertura").val() + "']").removeAttr("disabled");
                    $('#ddlListadoCobertura  option:selected').remove();                    
                    $("#ddlCobertura").val("");
                    $("#ddlCoberturaZona").empty();
                    $("#btnAgregar").attr("disabled", "disabled");
                    $('form').formValidation('revalidateField', 'tbProcesoCoberturaZonaList[]');

                }
            });



            $("#pLaboralEspecifico").text("Laboral Específico (No cumple)");
            $("#pLaboralEspecifico").addClass("text-red");


            $(".chkSeleccionarExpEsp").click(function () {



                $("#pLaboralEspecifico").text("Laboral Específico");

                $("#pLaboralEspecifico").removeClass("text-red");
                $("#pLaboralEspecifico").removeClass("text-green");


                //$("#btnGuardar").removeAttr("disabled");
                //console.log($(this).is(":checked"));
                //var id_exp = $(this).attr("data-id-exp");
                //console.log(id_exp);
                var checkboxValues = [];
                $('input[name="chkExperienciaList[]"]:checked').map(function () {
                    checkboxValues.push($(this).val());
                });

                $.post("@Url.Content("~/Seleccion/ValidarExpLabEsp")",
                    {
                        cnID_Proceso : @Model.cnID_Proceso,
                        cnID_Experiencia : checkboxValues

                    },
                    function (result)
                    {
                        if(result.res=="KO")
                        {
                            $("#pLaboralEspecifico").addClass("text-red");
                            $("#pLaboralEspecifico").text("Laboral Específico (No cumple)");

                            @if (cumpleNivelAcademico && cumpleNivelLaboralGeneral)
                            {
                                <text>
                            $("#divMensajeNoPostulacion").show();
                                </text>
                            }
                        }
                        else
                        {
                            $("#pLaboralEspecifico").addClass("text-green");
                            $("#pLaboralEspecifico").text("Laboral Específico");

                            
                        }
                    })

            });
        })
        $("#divMensajeNoPostulacion").hide();
        @if (!cumpleNivelAcademico || !cumpleNivelLaboralGeneral)
         {
            <text>
        $(".box-footer").hide();
        $("#divMensajeNoPostulacion").show();
        </text>
         }


        $("#btnCancelar").click(function () {
            location.href = "@Url.Content("~/Seleccion/Oportunidades")";
        });

    </script>
}