@model SalarDb.CodeGen.Model.tbCandidatoModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
    bool newUser = Request.Params.Get("a") == "new";
}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Registro.js")"></script>
}

<section class="content-header">

    @if (newUser)
    {
        <h2>Registro de nuevo Candidato</h2>
    }

    @if (!newUser)
    {
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
            <li class="active">Datos Personales</li>
        </ol>
    }

</section>
@*<a href="@Url.Content("GetHojaVida")" target="_blank">Hoja de vida</a>*@
<!-- Main content -->
<section class="content">
    <!-- form start -->
    <form id="form" data-toggle="validator" role="form">

        <div class="box-body">

            <div class="panel panel-info">
                <div class="panel-heading"><h3>Información Personal</h3></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctApellidoPaterno">Apellido Paterno:</label>
                                @*<input type="text" class="form-control" id="txtApellidopaterno" placeholder="Apellido Paterno" pattern="^[a-zA-Z]+$" required />*@
                                @Html.TextBoxFor(model => model.ctApellidoPaterno, new { @class = "form-control text-uppercase", placeholder = "Apellido Paterno", pattern = "^[a-zA-Z ]+$", required = "required", maxlength = "200" })
                                <span class="help-block">Sólo se permiten letras</span>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctApellidoMaterno">Apellido Materno:</label>
                                @*<input type="text" class="form-control" id="txtApellidomaterno" placeholder="Apellido Materno" pattern="^[a-zA-Z]+$" required>*@
                                @Html.TextBoxFor(model => model.ctApellidoMaterno, new { @class = "form-control  text-uppercase", placeholder = "Apellido Materno", pattern = "^[a-zA-Z ]+$", required = "required", maxlength = "200" })
                                <span class="help-block">Sólo se permiten letras</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtNombres">Nombres:</label>
                                @*<input type="text" class="form-control" id="txtNombres" placeholder="Nombres" pattern="^[a-zA-Z]+$" required>*@
                                @Html.TextBoxFor(model => model.ctNombres, new { @class = "form-control text-uppercase", placeholder = "Nombres", pattern = "^[a-zA-Z ]+$", required = "required", maxlength = "200" })
                                <span class="help-block">Sólo se permiten letras</span>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>País de Nacimiento:</label>
                                @*@Html.DropDownList("ddlPaises", (List<SelectListItem>)ViewBag.Paises, new { @class = "form-control", required = "" })*@
                                @Html.DropDownListFor(model => model.cnID_PaisNacimiento, (List<SelectListItem>)ViewBag.Paises, new { @class = "form-control", required = "" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ctLugarNacimiento">Lugar de Nacimiento:</label>
                                @*<input type="text" class="form-control" id="txtLugardenacimiento" placeholder="Lugar de Nacimiento" required>*@
                                @Html.TextBoxFor(model => model.ctLugarNacimiento, new { @class = "form-control text-uppercase", placeholder = "Lugar de Nacimiento", required = "required", maxlength = "100" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="cfFechaNacimiento">Fecha de Nacimiento:</label>
                                <div class='input-group date' id='txtFechaNacimientoContainer'>
                                    @*<input type="text" class="form-control" id="txtFechaNacimiento" placeholder="Fecha Nacimiento" required>*@
                                    @Html.TextBoxFor(model => model.cfFechaNacimiento, new { @class = "form-control", placeholder = "Fecha Nacimiento", required = "required" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>


                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tipo de Documento:</label>
                                    @Html.DropDownList("ddlTipoDocumento", (List<SelectListItem>)ViewBag.Documentos, new { @class = "form-control", required = "required" })
                                    @Html.DropDownList(model=>model.Ti, (List<SelectListItem>)ViewBag.Documentos, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtNroDocumento">Nº de Documento:</label>
                                    <input type="text" class="form-control" id="txtNroDocumento" placeholder="Nº de documento" required>
                                </div>
                            </div>

                        </div>*@

                    <div class="row">
                        <div class="col-md-6">

                            <table class="table table-striped table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tipo Documento</th>
                                        <th>Nº Documento</th>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.tbDocIdentidadModelList.Count; i++)
                                    {
                                        <tr>
                                            @if (i == 0)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td class='deleterow' onclick="removeRow(this,'@Model.tbDocIdentidadModelList[i].cnID_Candidato','@Model.tbDocIdentidadModelList[i].cnID_TipoDocumento')"><div class='glyphicon glyphicon-remove'></div></td>
                                            }
                                            @*<td>@item.cnID_TipoDocumento</td>*@
                                            <td>
                                                <div class="form-group">
                                                    @Html.DropDownList("tbDocIdentidadModelList_cnID_TipoDocumento[]", (List<SelectListItem>)ViewBag.Documentos, new { @class = "form-control", required = "required", id = "tbDocIdentidadModelList_" + i + "_cnID_TipoDocumento" })
                                                </div>
                                            </td>
                                            @*<td>@item.ctNumero</td>*@
                                            <td>
                                                <div class="form-group">
                                                    @Html.TextBox("tbDocIdentidadModelList_ctNumero[]", Model.tbDocIdentidadModelList[i].ctNumero, new { @class = "form-control", required = " required", maxlength = "16" })
                                                </div>
                                            </td>
                                            <td>
                                                @if (i == 0)
                                                {
                                                    <label id="add_row" class="btn btn-primary addnewrow">
                                                        Agregar
                                                    </label>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Sexo:</label>
                            </div>
                            <div class="form-group">
                                @*@Html.CheckBoxListFor(model => model.cnID_Sexo,
                                    model => model.SexoListado,
                                    model => model.cnID_Lista,
                                    model => model.ctElemento,
                                    model => null
                                    )*@
                                @Html.RadioButtonForSelectList(model => model.cnID_Sexo, (List<SelectListItem>)ViewBag.SexoListado)
                                @*@{
                                        string lcSeleccionar = "checked";
                                        foreach (var item in (List<SalarDb.CodeGen.Model.tbMaestroListasModel>)ViewBag.Sexo)
                                        {
                                            <label class="radio-inline ">
                                                <input type="radio" name="rbnSexo" @lcSeleccionar value="@item.cnID_Lista">
                                                @item.ctElemento
                                            </label>

                                            lcSeleccionar = "";
                                        }
                                    }*@

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Estado Civil:</label>

                            </div>
                            <div class="form-group">
                                @*@Html.CheckBoxListFor(model => model.ctEstadoCivil,
                                    model => model.EstadoCivilListado,
                                    model => model.cnID_Lista,
                                    model => model.ctElemento,
                                    model => null
                                    )*@
                                @Html.RadioButtonForSelectList(model => model.ctEstadoCivil, (List<SelectListItem>)ViewBag.EstadoCivilListado)
                                @*@{

                                        lcSeleccionar = "checked";
                                        foreach (var item in (List<SalarDb.CodeGen.Model.tbMaestroListasModel>)ViewBag.EstadoCivil)
                                        {

                                            <label class="radio-inline">
                                                <input type="radio" name="rbnEstadoCivil" @lcSeleccionar value="@item.cnID_Lista">
                                                @item.ctElemento
                                            </label>
                                            lcSeleccionar = "";
                                        }
                                    }*@

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"><h3>Información Domicilio Actual</h3></div>

                <div class="panel-body">


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="ctDireccion">Dirección:</label>
                                @*<input type="text" class="form-control" id="txtDireccion" placeholder="Dirección" required>*@
                                @Html.TextBoxFor(model => model.ctDireccion, new { @class = "form-control text-uppercase", placeholder = "Dirección", required = "required", maxlength = "300" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Pais">País:</label>
                                @*@Html.DropDownList("ddlPaisesActual", (List<SelectListItem>)ViewBag.Paises, new { @class = "form-control", id = "ddlPaisesActual", required = "required" })*@
                                @Html.DropDownListFor(model => model.cnID_Pais, (List<SelectListItem>)ViewBag.Paises, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ciudad (residentes extranjeros):</label>
                                    <input type="text" class="form-control" id="txtCiudadresidentesextranjeros" placeholder="Ciudad (residentes extranjeros)">

                                </div>
                            </div>*@
                        <div class="col-md-4">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Departamento">Departamento:</label>
                                @*<select class="form-control" id="ddlDepartamento" required></select>*@
                                @Html.DropDownListFor(model => model.cnID_Departamento, new List<SelectListItem>(), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Provincia">Provincia:</label>
                                @*<select class="form-control" id="ddlProvincia" required></select>*@
                                @Html.DropDownListFor(model => model.cnID_Provincia, new List<SelectListItem>(), new { @class = "form-control", required = "required" })
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Distrito">Distrito:</label>
                                @*<select class="form-control" id="ddlDistrito" required></select>*@
                                @Html.DropDownListFor(model => model.cnID_Distrito, new List<SelectListItem>(), new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtTelefonoCasa">Teléfono Casa:</label>
                                @*<input type="number" class="form-control" id="txtTelefonoCasa" placeholder="Teléfono Casa">*@
                                @Html.TextBoxFor(model => model.ctTelefonoCasa, new { @class = "form-control telephone", placeholder = "Teléfono Casa", maxlength = "15" })
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtTelefonoMovil">Teléfono Móvil:</label>
                                @*<input type="number" class="form-control" id="txtTelefonoMovil" placeholder="Teléfono Móvil">*@
                                @Html.TextBoxFor(model => model.ctTelefonoMovil, new { @class = "form-control telephone", placeholder = "Teléfono Móvil", maxlength = "15" })
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txtTelefonoOtro">Teléfono Otro:</label>
                                @*<input type="number" class="form-control" id="txtTelefonoOtro" placeholder="Teléfono Otro">*@
                                @Html.TextBoxFor(model => model.ctTelefonoOtro, new { @class = "form-control", placeholder = "Teléfono Otro", maxlength = "15" })
                            </div>
                        </div>
                    </div>


                </div>
                @*<div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>*@

                <div class="panel panel-info">
                    <div class="panel-heading"><h3>Información General</h3></div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="ctEmail">Correo Electrónico:</label>
                                    @*<input type="email" data-error="Ingrese un correo electónico válido (Ejm. nombre@dominio.com)" class="form-control" id="txtCorreoelectronico" placeholder="Correo Electrónico" required>*@
                                    @Html.TextBoxFor(model => model.ctEmail, new { @class = "form-control text-lowercase", placeholder = "Correo Electrónico", required = "required", data_error = "Ingrese un correo electónico válido (Ejm. nombre@dominio.com)", maxlength = "100" })
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-md-4">
                            </div>
                        </div>
                        @if (Model.cnID_Candidato == 0)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ctClaveAcceso">Ingresar Contraseña:</label>
                                        @Html.PasswordFor(model => model.ctClaveAcceso, new { @class = "form-control", placeholder = "Ingresar Contraseña", data_minlength = "6", maxlength = "15", required = "required" })
                                        <span class="help-block">Ingrese mínimo 6 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ctClaveAcceso2">Repetir Contraseña:</label>
                                        <input type="password" name="ctClaveAcceso2" class="form-control" id="ctClaveAcceso2" placeholder="Repetir Contraseña" maxlength="15">
                                    </div>
                                </div>
                                <div class="col-md-4">


                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ctClaveAcceso">Ingresar Contraseña:</label>
                                        @Html.PasswordFor(model => model.ctClaveAcceso, new { @class = "form-control", placeholder = "Ingresar Contraseña", data_minlength = "6", maxlength = "15" })
                                        <span class="help-block">Ingrese mínimo 6 caracteres</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ctClaveAcceso2">Repetir Contraseña:</label>
                                        <input type="password" name="ctClaveAcceso2" class="form-control" id="ctClaveAcceso2" placeholder="Repetir Contraseña" maxlength="15">
                                    </div>
                                </div>
                                <div class="col-md-4">


                                </div>
                            </div>

                        }
                    </div>
                    <div class="panel-body text-center">
                        <input id="checkboxId" type="checkbox" value="False" onchange="changeCheckboxValue()" required>
                        @Html.HiddenFor(model => model.ctTerminoAceptacion, new { @id = "CheckOculto" })
                        <label>  &nbsp;He Leido la   <u data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;">politica de proteccion de datos</u> </label>
                    </div>
                    <div class="box-footer text-center">
                        @Html.HiddenFor(model => model.cnID_Candidato)

                        <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                        <button type="submit" disabled class="btn btn-primary" id="btnGuardar">Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h2 class="modal-title" id="exampleModalLabel"><b> Declaración de Consentimiento</b> </h2>
                    <h2 class="modal-title" id="exampleModalLabel"><b>de la Universidad Continental</b> </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-justify">
                    <p style="padding-left:35px;padding-right:35px;">
                        Por la presente, doy mi consentimiento a la Universidad Continental y a sus empresas asociadas, para utilizar mis datos personales, incluidos su almacenamiento y procesamiento en bases de datos pertinentes, con el fin de facilitar los proceso inherentes a las actividad docente que desarrollo.
                    </p>
                    <p style="padding-left:35px;padding-right:35px">
                        De conformidad con la Ley No. 29733, Ley de Protección de Datos Personales, declaro que he sido informado sobre la inclusión de mis datos personales en un sistema automatizado de base de datos personales que pertenece a Universidad Continental.
                    </p>
                    <p style="padding-left:35px;padding-right:35px">
                        Comprendo que la información podrá revelarse a otros empleados de Universidad Continental con fines exclusivos de gestión docente, <b>que incluye el uso en procedimientos de selección con el Estado y del ámbito privado para desempeño como docente o consultor, previa aceptación y posterior coordinación.</b>
                    </p>
                    <p style="padding-left:35px;padding-right:35px">
                        Todos los datos personales que proporciono se utilizarán exclusivamente para los fines que se indican. Fuera de ello, la Universidad Continental no revelará los detalles de los datos personales a ningún organismo externo, a menos que tenga la obligación legal de hacerlo, sin mi autorización explícita previa. Una vez finalizado mi vinculación legal, de ser el caso, la Universidad Continental conservará la información en el archivo para posibles referencias futuras y para fines exclusivos de requerimientos legales y sujeta a que se apliquen las medidas adecuadas para proteger la confidencialidad, integridad y disponibilidad de la información.
                    </p>


                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @Html.HiddenFor(model => model.cnID_PaisNacimiento, new { id = "hdnID_PaisNacimiento" })
    @Html.HiddenFor(model => model.cnID_Pais, new { id = "hdnID_Pais" })
    @Html.Hidden("hdnID_PaisPeru", BaseGlobal.PaisPeru.ToString(), new { id = "hdnID_PaisPeru" })
    @Html.HiddenFor(model => model.cnID_Departamento, new { id = "hdID_Departamento" })
    @Html.HiddenFor(model => model.cnID_Provincia, new { id = "hdnID_Provincia" })
    @Html.HiddenFor(model => model.cnID_Distrito, new { id = "hdnID_Distrito" })

    @Html.Hidden("hdnID_Otros", BaseGlobal.Otros.ToString(), new { id = "hdnID_Otros" })
    @Html.Hidden("hdComboOtros", BaseGlobal._ComboOtros.ToString(), new { id = "hdComboOtros" })


</section>

@section inpage_scripts{
    <script type="text/javascript">
        $(window).load(function () {



            var nroFila = @Model.tbDocIdentidadModelList.Count;



            $(".addnewrow").click(function () {
                var comboPlantillaDocumento = $("#tbDocIdentidadModelList_0_cnID_TipoDocumento").html();

                var $template =$("<tr> <td class='deleterow' onclick='removeRow(this,0,0)'><div class='glyphicon glyphicon-remove'></div></td><td><div class='form-group'><select class='form-control' id='tbDocIdentidadModelList_"+nroFila+"_cnID_TipoDocumento' name='tbDocIdentidadModelList_cnID_TipoDocumento[]' required></select></div></td><td><div class='form-group'><input class='form-control' id='tbDocIdentidadModelList_"+nroFila+"__ctNumero' name='tbDocIdentidadModelList_ctNumero[]' required type='text' value=''></div></td></tr>");
                $('#tab_logic tr:last').after($template);

                $("#tbDocIdentidadModelList_" + nroFila + "_cnID_TipoDocumento").append(comboPlantillaDocumento);


                $('form').formValidation('addField', $template.find('[name="tbDocIdentidadModelList_cnID_TipoDocumento[]"]'));
                $('form').formValidation('addField', $template.find('[name="tbDocIdentidadModelList_ctNumero[]"]'));

                nroFila++;
            });

        });


        $("#OpenDialog").click(function () {
            //$("#dialog").dialog({modal: true, height: 590, width: 1005 });
            var w = window.open("", "popupWindow", "width=600, height=400, scrollbars=yes");
            var $w = $(w.document.body);
            $w.html("<textarea></textarea>");
        });


        function removeRow(obj,_id1,_id2) {

            bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                var $killrow = $(obj).parent('tr');
                $killrow.addClass("danger");
                $killrow.fadeOut(100, function () {
                    $(this).remove();

                    $('form').formValidation('removeField', $(this).find('[name="tbDocIdentidadModelList_cnID_TipoDocumento[]"]'));
                    $('form').formValidation('removeField', $(this).find('[name="tbDocIdentidadModelList_ctNumero[]"]'));
                });
            });
        }

        function changeCheckboxValue() {
            if (document.getElementById("checkboxId").checked) {
                document.getElementById("CheckOculto").value = true
                document.getElementById("btnGuardar").disabled = false;
            } else {
                document.getElementById("CheckOculto").value = false
                document.getElementById("btnGuardar").disabled = true;
            }

        }

        @for (int i = 0; i < Model.tbDocIdentidadModelList.Count; i++)
         {
            <text>
        $("#@("tbDocIdentidadModelList_" + i + "_cnID_TipoDocumento")").val("@Model.tbDocIdentidadModelList[i].cnID_TipoDocumento");
        </text>
        }

        @if(Model.cnID_Candidato==0)
        {
            <text>
        $("#cfFechaNacimiento").val("");
        $("input[name=cnID_Sexo]").prop('checked', false);
        $("input[name=ctEstadoCivil]").prop('checked', false);
        </text>
        }

        @if(Model.cnID_Candidato==0){
        <text>
        $("#btnCancelar").click(function () {
            location.href = _basePath;
        });
        </text>
        }
        else
        {
            <text>
        $("#btnCancelar").click(function () {
            location.href = "@Url.Content("~/Auth/Welcome")";
        });
        </text>

        }

    </script>
}