﻿@{
    bool newUser = Request.Params.Get("a") == "new";
    if (!newUser && BaseGlobal.UsuarioActual == null)
    {
        Response.Redirect("~/Auth/Login");
        return;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Selección Personal</title>
    @*<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
        <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">*@

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!-- Bootstrap 3.3.2 -->
    <link href="@Url.Content("~/Content/css/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="@Url.Content("~/Content/css/ionicons/2.0.0/css/ionicons.min.css")" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="@Url.Content("~/Content/css/dist/css/AdminLTE.min.css")" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="@Url.Content("~/Content/css/dist/css/skins/_all-skins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap/css/bootstrap-datetimepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap/css/jasny-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @RenderSection("css_styles", false)
</head>
<body class="skin-red fixed @(newUser? "sidebar-collapse" :"")">
    @Html.Hidden("hdnMaxSizeFile", BaseGlobal.GetParameter(BaseGlobal.Parametros.FileSize))
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            @if (newUser)
            {
                <a href="@Url.Content("~/Auth/Login")" class="logo">Selección Personal</a>
            }
            else
            {
                <a href="@Url.Content("~/Auth/Welcome")" class="logo">Selección Personal</a>
            }
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                @if (!newUser)
                {
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                }
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (!newUser)
                        {
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (BaseGlobal.CandidatoActual != null)
                                    {
                                        if (BaseGlobal.CandidatoActual.ctImagenPerfil.IsEmpty())
                                        {
                                            <img src="@Url.Content("~/Content/css/dist/img/" + BaseGlobal.CandidatoActual.cnID_Sexo + ".png")" class="user-image" alt="User Image" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Uploads/Perfil/" + BaseGlobal.CandidatoActual.ctImagenPerfil)" class="user-image" alt="User Image" />
                                        }
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/css/dist/img/000.jpg")" class="user-image" alt="User Image" />
                                    }
                                    <span class="hidden-xs text-capitalize">@BaseGlobal.UsuarioActual.FullName.ToLower()</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        @if (BaseGlobal.CandidatoActual != null)
                                        {
                                            if (BaseGlobal.CandidatoActual.ctImagenPerfil.IsEmpty())
                                            {
                                                <img src="@Url.Content("~/Content/css/dist/img/" + BaseGlobal.CandidatoActual.cnID_Sexo + ".png")" class="img-circle" alt="User Image">
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Uploads/Perfil/" + BaseGlobal.CandidatoActual.ctImagenPerfil)" class="img-circle" alt="User Image" />
                                            }
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Content/css/dist/img/000.jpg")" class="img-circle" alt="User Image">
                                        }
                                        <p class="text-capitalize">
                                            @BaseGlobal.UsuarioActual.FullName.ToLower()
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            @if (BaseGlobal.CandidatoActual != null)
                                            {
                                                <a href="@Url.Content("~/Seleccion/Perfil")" class="btn btn-default btn-flat">Ver Perfil</a>
                                            }
                                        </div>
                                        <div class="pull-right">
                                            <a href="@Url.Content("~/Auth/Logout")" class="btn btn-default btn-flat">Cerrar sesión</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        @if (!newUser)
        {
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        @*<div class="pull-left image">
                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                            </div>*@
                        @*<div class="pull-left info">
                                <h4>Alberto Roque</h4>

                                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
                            </div>*@
                        <img src="@Url.Content("~/Content/logo_app.jpg")" class="img-responsive img-logo-app">
                    </div>
                    <!-- search form -->
                    @*<form action="#" method="get" class="sidebar-form">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Buscar..." />
                                <span class="input-group-btn">
                                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>*@
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">OPCIONES DEL SISTEMA</li>

                    @if (BaseGlobal.UsuarioActual.cnID_Perfil == (int)BaseGlobal.Perfiles.Candidato)
                    {
                        <li><a href="@Url.Content("~/Seleccion/DatosPersonales")"><i class="fa fa-user"></i>Datos Personales</a></li>
                        <li><a href="@Url.Content("~/Formacion/Academica")"><i class="fa fa-mortar-board"></i>Formación Académica</a></li>
                        @*<li><a href="@Url.Content("~/Formacion/Complementarios")"><i class=" fa fa-book"></i>Estudios Complementarios</a></li>*@
                        <li><a href="@Url.Content("~/Formacion/Idiomas")"><i class="fa fa-language"></i>Idiomas</a></li>
                        <li>
                            <ul class="sidebar-menu sidebar-submenu">
                                <li class="header">
                                    <i class="fa fa-book"></i> Experiencia Laboral
                                </li>
                                <li><a href="@Url.Content("~/Laboral/Experiencia")"><i class="fa fa-building"></i>Profesional</a></li>
                                <li><a href="@Url.Content("~/Laboral/Docencia")"><i class="fa fa-circle-o"></i> Docencia</a></li>
                            </ul>

                        </li>
                        <li><a href="@Url.Content("~/Laboral/Referencias")">Referencia Laboral</a></li>
                        <li><a href="@Url.Content("~/Seleccion/AreaTematica")">Áreas Temáticas</a></li>
                        <li><a href="@Url.Content("~/Seleccion/Oportunidades")">Oportunidades Laborales</a></li>
                        <li class="sidebar-submenu-li">

                            <ul class="sidebar-menu sidebar-submenu">
                                <li class="header">
                                    <i class="fa fa-book"></i> Hoja de vida
                                </li>
                                <li><a href="@Url.Content("~/Seleccion/GetHojaVida")" target="_blank">Documentada (PDF)</a></li>
                                <li><a href="@Url.Content("~/Seleccion/GetHojaVida?doc=false")" target="_blank">No Documentada (PDF)</a></li>
                                <li><a href="@Url.Content("~/Seleccion/GetHojaVida?doc=false&reportType=WORD")" target="_blank">No Documentada (WORD)</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Content("~/Mantenimiento/AreaTematica")"><i class="fa fa-newspaper-o"></i>Área Temática</a></li>
                        <li><a href="@Url.Content("~/Mantenimiento/Index")"><i class="fa fa-newspaper-o"></i>Mantenimientos</a></li>
                        <li><a href="@Url.Content("~/Convocatoria/")"><i class="fa fa-newspaper-o"></i>Convocatorias</a></li>
                        <li><a href="@Url.Content("~/Convocatoria/ConsultaPostulantes")"><i class="fa fa-search"></i>Consulta de Postulantes</a></li>
                        <li><a href="@Url.Content("~/Convocatoria/ConsultaCandidatos")"><i class="fa fa-search"></i>Consulta de Candidatos</a></li>
                        <li><a href="@Url.Content("~/Convocatoria/Reporteador")"><i class="fa fa-search"></i>Reporteador</a></li>
                    }

                </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
        }
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
    </div>

    <!-- ./wrapper -->
    <!-- jQuery 2.1.3 -->
    <script src="@Url.Content("~/Content/css/plugins/jQuery/jQuery-2.1.3.min.js")"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="@Url.Content("~/Scripts/ui/1.11.2/jquery-ui.min.js")" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="@Url.Content("~/Content/css/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/formValidation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.validator.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/bootbox.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/moment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/moment-with-locales.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/css/bootstrap/js/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/css/bootstrap/js/jasny-bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/tableExport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/bootstrap-table.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/css/bootstrap/js/bootstrap-table-export.js")" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/Content/css/plugins/slimScroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <!--        <!-- AdminLTE App -->
    <script src="@Url.Content("~/Content/css/dist/js/app.min.js")" type="text/javascript" )"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Content/css/dist/js/global.js")" type="text/javascript"></script>

    @RenderSection("view_scripts", false)
    @RenderSection("inpage_scripts", false)

    <input type="hidden" value="@Url.Content("~/")" id="hdBasePath" />
    <input type="hidden" value="@(newUser? "1":"0")" id="hdNewUser" />
    <input type="hidden" value="@Url.Content("~/Auth/Login")" id="hdLoginPage" />

</body>
</html>
