﻿@model SalarDb.CodeGen.Model.tbAcademicoModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;

}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Academica.js")"></script>
}

<section class="content-header">

    @*<h1>Formación Académica</h1>*@

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Formación Académica</li>
    </ol>
</section>
<section class="content">
    @*<h5 id="msjCambio">¿Desea subir varios certificados en un archivo?</h5>
        <button type="button" onclick="cambiarVista()" class="btn btn-primary" id="btnCambiar" >Subir certificado en bloque</button>*@



    <div id="formIndividual">

        @using (Html.BeginForm("SaveAcademica", "Formacion", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
        {
            @Html.HiddenFor(model => model.cnID_Academico)
            @Html.HiddenFor(model => model.cnID_Candidato)
            @Html.HiddenFor(model => model.ctCertificado)

            <div class="box-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div id="alertas" style="display:block">
                            @if (ViewBag.Action != "saved")
                            {
                            <div class="alert alert-warning pt-4" role="alert">
                                ADVERTENCIA: Asegúrese de colocar solo información que sea acreditado con documento (Constancia, Certificado, Resoluciones, otros).
                            </div>
                            }
                            @if (ViewBag.Action == "saved")
                            {
                                <div class="alert alert-danger pt-4" role="alert">
                                    IMPORTANTE: Para completar el registro del nuevo documento, adjunte el PDF que acredite los datos agregados.
                                </div>
                            }
                        </div>
                        <div id="alertSaved" style="display:none">
                            <div class="alert alert-success pt-4" role="alert">
                                Los cambios se guardaron satisfactoriamente.
                            </div>
                        </div>
                        <h3>Datos académicos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cnID_Grado">Grado/Especialización:</label>
                                    @Html.DropDownListFor(model => model.cnID_Grado, (List<SelectListItem>)ViewBag.Grados, new { @class = "form-control", placeholder = "Grado", required = "required" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cnID_Carrera">Carrera:</label>
                                    @Html.DropDownListFor(model => model.cnID_Carrera, (List<SelectListItem>)ViewBag.Carreras, new { @class = "form-control", placeholder = "Carrera", required = "required" })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ctCarreraOtro">Otra Carrera/Estudio/Mención:</label>
                                    @Html.TextBoxFor(model => model.ctCarreraOtro, new { @class = "form-control text-uppercase", placeholder = "Otra Carrera/Estudio", maxlength = "200" })
                                    <span class="help-block">Sólo se permiten letras</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cnID_Institucion">Institución:</label>
                                    @Html.DropDownListFor(model => model.cnID_Institucion, (List<SelectListItem>)ViewBag.Instituciones, new { @class = "form-control", placeholder = "Grado", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ctInstitucionOtro">Otra Institución:</label>
                                    @Html.TextBoxFor(model => model.ctInstitucionOtro, new { @class = "form-control text-uppercase", placeholder = "Otra Institución", maxlength = "200" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cnID_Situacion">Estado Grado/Especialización:</label>
                                    @*@Html.DropDownListFor(model => model.cnID_Situacion, (List<SelectListItem>)ViewBag.Situaciones, new { @class = "form-control", placeholder = "Otro", required = "required" })*@
                                    @Html.DropDownListFor(model => model.cnID_Situacion, (ViewBag.Situaciones == null ? new List<SelectListItem>() : (List<SelectListItem>)ViewBag.Situaciones), new { @class = "form-control", placeholder = "Otro", required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cnID_Pais">País:</label>
                                    @Html.DropDownListFor(model => model.cnID_Pais, (List<SelectListItem>)ViewBag.Paises, new { @class = "form-control", placeholder = "Grado", required = "required" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cfFechaInicio">Desde:</label>
                                    <div class='input-group date' id='txtFechaInicioContainer'>
                                        @Html.TextBoxFor(model => model.cfFechaInicio, new { @class = "form-control", placeholder = "Fecha Inicio", required = "required" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cfFechaFin">Hasta:</label>
                                    <div class='input-group date' id='txtFechaFinContainer'>
                                        @Html.TextBoxFor(model => model.cfFechaFin, new { @class = "form-control", placeholder = "Fecha Fin", required = "required" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer text-center">

                        <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnGuardar">@((Model.cnID_Academico == 0) ? "Guardar" : "Actualizar")</button>

                    </div>
                    @if (Model.cnID_Academico == 0)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <section id="no-more-tables">
                                    <table class="table table-striped table-hover" id="tab_logic">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Grado</th>
                                                <th>Carrera</th>
                                                <th>Institución</th>
                                                <th>Desde</th>
                                                <th>Hasta</th>
                                                <th>Situación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.tbAcademicoModelList.Count(); i++)
                                            {
                                                var item = Model.tbAcademicoModelList[i];
                                                <tr id="row_id_@item.cnID_Academico">
                                                    <td data-title="Eliminar" class='deleterow' onclick="removeRow(this,@item.cnID_Academico)"><div class='glyphicon glyphicon-remove' title="Eliminar"></div></td>
                                                    <td data-title="Editar" class='editrow' onclick="editRow(@item.cnID_Academico)"><div class='glyphicon glyphicon-edit' title="Editar"></div></td>
                                                    <td data-title="Grado">@item.ctGrado</td>
                                                    <td data-title="Carrera">@(((List<SelectListItem>)ViewBag.Carreras).Find(x => x.Value == item.cnID_Carrera.ToString()).Text)</td>
                                                    <td data-title="Institución">@(((List<SelectListItem>)ViewBag.Instituciones).Find(x => x.Value == item.cnID_Institucion.ToString()).Text)</td>
                                                    <td data-title="Hasta">@item.cfFechaInicio.ToShortDateString()</td>
                                                    <td data-title="Hasta">@item.cfFechaFin.ToShortDateString()</td>
                                                    <td data-title="Situación">@item.ctSituacion</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    }

                </div>
            </div>

        }
    </div>

    <div id="formBloque">

        @{
            var data = ViewBag.document;
        }

        <div class="box-body">

            @if (data != null)
            {
                <h3>Último documento adjuntado</h3>
                <br />
                <label>Documento             : </label> <p>@data.Documento </p>
                <label>Fecha de modificación : </label><p>@data.Actualizacion</p>
                <label>Fecha de Creación     : </label> <p>@data.Creacion</p>

                <button type="button" class="btn btn-danger" onClick="document.getElementById('divCargarArchivo').scrollIntoView();"> Actualizar  </button>
                @Html.ActionLink("Descargar", "DownloadFile", "Seleccion", new { file = data.Documento }, new { target = "_blank", @class = "btn btn-primary" })
            }
            </div>

        @using (Html.BeginForm("SaveAcademicaBloque", "Formacion", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
        {
            @Html.HiddenFor(model => model.cnID_Academico)
            @Html.HiddenFor(model => model.cnID_Candidato)
            @Html.HiddenFor(model => model.ctCertificado)

            <div class="box-body">
                <div class="panel panel-info">
                    <div class="panel-heading"><h3>Adjuntar documentos</h3></div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group" id="divCargarArchivo">
                                    <label for="ctApellidoPaterno">Suba a continuacion el bloque de documentos correspondientes a su formación académica.<span class="text-danger">(Sólo formato PDF y con tamaño máximo de 3mb)</span>:</label>
                                    @if (Model.cnID_Academico > 0)
                                    {
                                        @*@Html.ActionLink("Descargar", "DownloadFile", "Seleccion", new { file = Model.ctCertificado }, new { target = "_blank", @class = "btn btn-link" })*@
                                        <a href="#" class="btn btn-link " id="lnkDescargar" data-filename="@Model.ctCertificado">Ver</a>
                                    }


                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" id="inputArchivo" required name="txtCertificado"></span>
                                        @* <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="txtCertificado" @(Model.cnID_Academico == 0 ? "required" : string.Empty)></span>*@
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                    </div>
                                    <div id="msgerror" class="text-danger" style="display:none">Aún no se ha subido ningún archivo.</div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Button trigger modal -->
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Launch demo modal
                        </button>*@


                    <div class="box-footer text-center">

                        <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                        @*<button type="submit" class="btn btn-primary" id="btnGuardar">@((Model.cnID_Academico == 0) ? "Guardar" : "Actualizar")</button>*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="btnMostrarTerms">@((Model.cnID_Academico == 0) ? "Guardar" : "Actualizar")</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                @*<div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Aceptación de Términos</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>*@
                                <div class="modal-header">
                                    <h4 class="modal-title">Aceptación de Términos</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body text-justify">
                                    <div class="container-fluid">
                                        <p class="text-bold">Declaro bajo juramento:</p>
                                        <ol>
                                            <li>Que, la información de mi hoja de vida y documentos que adjunto, además de la actualización, correspondiente a mi formación profesional y experiencia laboral y profesional, se sujeta a la verdad, asumiendo la responsabilidad administrativa, penal o civil en caso que se demuestre lo contrario. </li>
                                            <li>Que, autorizó a la EPG Universidad Continental, el uso de la información de la hoja de vida y documentos de mi formación profesional y experiencia laboral y profesional, para uso en procedimiento de selección con el Estado y del ámbito Privado para desempeño como docente o consultor, previa aceptación y posterior coordinación.</li>
                                        </ol>

                                        <p>
                                            La EPG UC se reserva el derecho de excluir de manera inmediata a los profesionales que habiendo ingresado los documentos de su experiencia profesional y experiencia laboral en el sistema de la  EPG UC,  por incumplimiento de las disposiciones del Reglamento Académico o cuando no se cumplan los requisitos mínimos exigidos para el acceso docente a la EPGUC.

                                        </p>
                                        @*<div class="d-flex justify-content-center">*@
                                        <div class="col-lg-8 center-block" style="float:none">
                                            @Html.CheckBoxFor(model => model.ctAceptaTerminos, new { @id = "chkcondition" })<label style="margin-left:10px;"> Acepto y quedo conforme con lo antes descrito</label>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-success" id="btnGuardar" onclick="javascript:return AcceptTermAndcondition();">@((Model.cnID_Academico == 0) ? "Guardar" : "Actualizar")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        }

    </div>





</section>

@Html.Hidden("hdnDownloadFileUrl", @Url.Content("~/Seleccion/DownloadFile"))
@Html.HiddenFor(model => model.cnID_Situacion, new { id = "hdnID_Situacion" })

@section inpage_scripts{
    <script type="text/javascript">

        var warnBeforeClose = true;

        if (@Html.Raw(Json.Encode(ViewBag.Action)) == "saved") {
            warnBeforeClose = true;
        } else {
            warnBeforeClose = false;
        }

        if (window.location.href.indexOf("saved/0") > -1) {
            warnBeforeClose = false;
            var x = document.getElementById("alertas");
            var y = document.getElementById("alertSaved");
            x.style.display = "none";
            y.style.display = "block";

    }


    function AcceptTermAndcondition() {

            if ($("#chkcondition").is(':checked')) {
                return true;
            }
            else {
                alert("Debe aceptar los términos descritos.");
                //$("#chkcondition").focus();
                return false;
            }
    }

    $('#btnMostrarTerms').bind("click",function() 
    { 
        var fileVal = $('#inputArchivo').val(); 
        if(fileVal=='') 
        { 
            $("#msgerror").css("display", "block");
            return false; 
        } 


    }); 

    if($("#chkcondition").is(':checked'))
     {
         $("#btnGuardar").prop('disabled', 'disabled');
     }
    
    $("#chkcondition").change(function()
    {
            var enabled=false;

            if($("#chkcondition").is(':checked'))
            {
                enabled=true;
            }

            if(enabled)
            {
                $("#btnGuardar").prop('disabled', false);
            }
            else
            {
                $("#btnGuardar").prop('disabled', 'disabled');
            }

    });


    function unloadPage(){
        if (warnBeforeClose) {

            $.post('@Url.Content("~/Formacion/DeleteFormacionTemporal")', { id: @Html.Raw(Json.Encode(Model.cnID_Candidato)) },
            function (resp) {
                if (resp.result == "OK") {
                    return true;

                }
                else
                    return false;

                });
            return "Your changes will not be saved.";
        }
    }
    window.onbeforeunload = unloadPage;

    $('form').formValidation(
    {
        excluded: [':disabled']
    }
    )
    .on('err.field.fv', function (e, data) {

        //if (data.field == 'txtCertificado') return;
        // Hide the messages
        data.element
            .data('fv.messages')
            .find('.help-block[data-fv-for="' + data.field + '"]').hide();
    })
    .on('submit', function (e) {

        //$("#divCargarArchivo").removeClass("has-error");

        //if ($("input[name=txtCertificado]").val() == '') {
        //    $("#divCargarArchivo").addClass("has-error");
        //    return false;
        //}

        if (e.isDefaultPrevented()) {
            // handle the invalid form...
            //alert("Debe adjuntar el documento PDF ");
            //return false;
        }
        else {
            warnBeforeClose = false;

            // ...but if we're still on the page a second later, set the flag again
            setTimeout(function() {
                warnBeforeClose = true;
            }, 1000);
            return true;
        }

    });

    @*window.onbeforeunload = function (e) {


             $.post('@Url.Content("~/Formacion/DeleteFormacionTemporal")', { id: @Html.Raw(Json.Encode(Model.cnID_Candidato)) },
            function (resp) {
                if (resp.result == "OK") {
                    return true;

                }
                else
                    return false;

            });



    };*@




        //window.onbeforeunload = confirmExit;
        //function confirmExit(){
        //    console.log("onunload");
        //    return false;
        //}

        //function cambiarVista() {
        //  var x = document.getElementById("formIndividual");
        //  var y = document.getElementById("formBloque");
        //  var boton = document.getElementById("btnCambiar");
        //  var msj = document.getElementById("msjCambio");
        //  if (y.style.display === "none") {
        //      x.style.display = "none";
        //      y.style.display = "block";
        //      boton.firstChild.data = "Subir certificado individual";
        //      msj.firstChild.data = "¿Desea subir su certificado de forma individual?";

        //  } else {
        //      x.style.display = "block";
        //      y.style.display = "none";
        //      boton.firstChild.data = "Subir certificados en bloque";
        //      msj.firstChild.data = "¿Desea subir varios certificados en un archivo?";

        //  }
        //}





        function removeRow(obj, _id) {
            //alert(_id);
            if (_id > 0) {
                bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                    $.post('@Url.Content("~/Formacion/DeleteFormacion")', { id: _id },
                        function (resp) {
                            ShowResponseDelete(resp);
                            var $killrow = $(obj).parent('tr');
                            $killrow.addClass("danger");
                            $killrow.fadeOut(100, function () {
                                $(this).remove();
                            });
                        });
                });
            }
            else {


                var $killrow = $(obj).parent('tr');
                $killrow.addClass("danger");
                $killrow.fadeOut(100, function () {
                    $(this).remove();
                });
            }
        }


        function editRow(_id) {
            var url = '@Url.Content("~/Formacion/Academica/")';
            location.href = url + _id;
        }

        $("#btnCancelar").click(function () {
            var url = '@Url.Content("~/Formacion/Academica/")';
            location.href = url;
        });

        @if (ViewBag.action == "saved")
        {
            <text>
        ShowResponse("OK");
        SelectRow('tab_logic', 'row_id_' + @ViewBag.id);
        </text>
        }



            @*@if(Model.cnID_Academico>0)
        {
            <text>
            $('form').data('formValidation').enableFieldValidators('txtCertificado', false);

            </text>
        }*@

        @if(Model.cnID_Academico==0)
          {
              <text>
        $("#cfFechaInicio").val("");
        $("#cfFechaFin").val("");
        </text>
        }

        $("#cnID_Carrera").change(function()
        {
            var enabled=false;

            if($("#cnID_Carrera").val()=="@BaseGlobal.Otros")
            {
                enabled=true;
            }

            if(enabled)
            {
                $("input[name=ctCarreraOtro]").prop('disabled', false);
                $("input[name=ctCarreraOtro]").attr("required","required");
                $('form').formValidation('addField',$("input[name=ctCarreraOtro]"));
                $('form').formValidation('revalidateField', 'ctCarreraOtro');
            }
            else
            {
                $("input[name=ctCarreraOtro]").removeAttr("required");
                $("input[name=ctCarreraOtro]").parent().removeClass("has-error");
                $('form').formValidation('removeField',$("input[name=ctCarreraOtro]"));
                $('form').formValidation('revalidateField', 'ctCarreraOtro');
            }

        });

        $("#cnID_Grado").change(function()
        {
            var enabled=false;

            if($("#cnID_Grado").val()=="1653" || $("#cnID_Grado").val()=="1654")
            {
                enabled=true;
            }

            if(enabled)
            {
                $("#cnID_Carrera").prop('disabled', false);
                $("#cnID_Carrera").val("");
                $("input[name=ctCarreraOtro]").prop('disabled', 'disabled');

            }
            else
            {
                $("#cnID_Carrera").val("@BaseGlobal.Otros");
                $("#cnID_Carrera").prop('disabled', 'disabled');
                $("input[name=ctCarreraOtro]").prop('disabled', false);
            }

        });




        $("#cnID_Institucion").change(function()
        {
            var enabled=false;

            if($("#cnID_Institucion").val()=="@BaseGlobal.Otros")
            {
                enabled=true;
            }

            if(enabled)
            {
                $("input[name=ctInstitucionOtro]").attr("required","required");
                $('form').formValidation('addField',$("input[name=ctInstitucionOtro]"));
                $('form').formValidation('revalidateField', 'ctInstitucionOtro');
            }
            else
            {
                $("input[name=ctInstitucionOtro]").removeAttr("required");
                $("input[name=ctInstitucionOtro]").parent().removeClass("has-error");
                $('form').formValidation('removeField',$("input[name=ctInstitucionOtro]"));
                $('form').formValidation('revalidateField', 'ctInstitucionOtro');
            }

        });




    </script>
}