﻿@model SalarDb.CodeGen.Model.tbIdiomaModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/Idioma.js")"></script>
}

<section class="content-header">

    <h1>@*Conocimiento de Idiomas*@</h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Conocimiento de Idiomas</li>
    </ol>
</section>
<section class="content">
    @using (Html.BeginForm("SaveIdioma", "Formacion", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {
        @Html.HiddenFor(model => model.cnID_Idioma)
        @Html.HiddenFor(model => model.cnID_Candidato)
        @Html.HiddenFor(model => model.ctCertificado)

        <div class="box-body">
            <div class="panel panel-info">
                <div class="panel-heading"><h3>Idiomas</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cnID_Lengua">Idioma:</label>
                                @Html.DropDownListFor(model => model.cnID_Lengua, (List<SelectListItem>)ViewBag.Idiomas, new { @class = "form-control", placeholder = "Idioma", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ctCarreraOtro">Otra Lengua/Dialecto:</label>
                                @Html.TextBoxFor(model => model.ctLenguaOtro, new { @class = "form-control text-uppercase", placeholder = "Otra Lengua/Dialecto", maxlength = "20"})
                                <span class="help-block">Sólo se permiten letras</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Institucion">Institución:</label>
                                @Html.DropDownListFor(model => model.cnID_Institucion, (List<SelectListItem>)ViewBag.Instituciones, new { @class = "form-control", placeholder = "Institución" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="cnID_Situacion">Situación:</label>
                                @Html.DropDownListFor(model => model.cnID_Situacion, (List<SelectListItem>)ViewBag.Situaciones, new { @class = "form-control", placeholder = "Situación", })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cnID_NivelLectura">Nivel de Lectura:</label>
                                @Html.DropDownListFor(model => model.cnID_NivelLectura, (List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv, new { @class = "form-control", placeholder = "Nivel de Lectura", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cnID_NivelEscritura">Nivel de Escritura:</label>
                                @Html.DropDownListFor(model => model.cnID_NivelEscritura, (List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv, new { @class = "form-control", placeholder = "Nivel de Escritura", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cnID_NivelConversacion">Nivel de Conversación:</label>
                                @Html.DropDownListFor(model => model.cnID_NivelConversacion, (List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv, new { @class = "form-control", placeholder = "Nivel de Conversación", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group" id="divCargarArchivo">
                                <label for="ctApellidoPaterno">Certificado de Estudio <span class="text-danger">(Sólo formato PDF y con tamaño máximo de 3mb)</span>:</label>

                                @if (Model.cnID_Idioma > 0)
                                {
                                    @*@Html.ActionLink("Descargar", "DownloadFile", "Seleccion", new { file = Model.ctCertificado }, new { target = "_blank", @class = "btn btn-link" })*@
                                    <a href="#" class="btn btn-link" id="lnkDescargar" data-filename="@Model.ctCertificado">Ver</a>
                                }

                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="txtCertificado"></span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.cnID_Idioma == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <section id="no-more-tables">
                                <table class="table table-striped table-hover" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Idioma</th>
                                            <th>Nivel de Lectura</th>
                                            <th>Nivel de Escritura</th>
                                            <th>Nivel de Conversación</th>
                                            <th>Institución</th>
                                            <th>Situación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.tbIdiomaModelList.Count(); i++)
                                        {
                                            var item = Model.tbIdiomaModelList[i];
                                            <tr id="row_id_@item.cnID_Idioma">
                                                <td data-title="Eliminar" class='deleterow' onclick="removeRow(this,@item.cnID_Idioma)"><div class='glyphicon glyphicon-remove' title="Eliminar"></div></td>
                                                <td data-title="Editar" class='editrow' onclick="editRow(@item.cnID_Idioma)"><div class='glyphicon glyphicon-edit' title="Editar"></div></td>
                                                <td data-title="Idioma">@(((List<SelectListItem>)ViewBag.Idiomas).Find(x => x.Value == item.cnID_Lengua.ToString()).Text)</td>
                                                <td data-title="Nivel de Lectura">@(((List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv).Find(x => x.Value == item.cnID_NivelLectura.ToString()).Text)</td>
                                                <td data-title="Nivel de Escritura">@(((List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv).Find(x => x.Value == item.cnID_NivelEscritura.ToString()).Text)</td>
                                                <td data-title="Nivel de Conversación">@(((List<SelectListItem>)ViewBag.NivelLecturaEscrituraConv).Find(x => x.Value == item.cnID_NivelConversacion.ToString()).Text)</td>
                                                <td data-title="Institución">@(item.cnID_Institucion != BaseGlobal.Ninguno ? ((List<SelectListItem>)ViewBag.Instituciones).Find(x => x.Value == item.cnID_Institucion.ToString()).Text : "")</td>
                                                <td data-title="Situación">@(item.cnID_Situacion != BaseGlobal.Ninguno ? ((List<SelectListItem>)ViewBag.Situaciones).Find(x => x.Value == item.cnID_Situacion.ToString()).Text : "")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                }
                <div class="box-footer text-center">

                    <button type="reset" class="btn btn-default" id="btnCancelar">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardar">@( (Model.cnID_Idioma == 0) ? "Guardar" : "Actualizar")</button>
                </div>
            </div>
        </div>

    }
</section>
@Html.Hidden("hdnDownloadFileUrl", @Url.Content("~/Seleccion/DownloadFile"))

@section inpage_scripts{
    <script type="text/javascript">
        function removeRow(obj, _id) {
            //alert(_id);
            if (_id > 0) {
                bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                    $.post('@Url.Content("~/Formacion/DeleteIdioma")', { id: _id },
                            function (resp) {
                                ShowResponseDelete(resp);
                                var $killrow = $(obj).parent('tr');
                                $killrow.addClass("danger");
                                $killrow.fadeOut(100, function () {
                                    $(this).remove();
                                });
                            });
                });
            }
            else {


                var $killrow = $(obj).parent('tr');
                $killrow.addClass("danger");
                $killrow.fadeOut(100, function () {
                    $(this).remove();
                });
            }
        }

        function editRow(_id) {
            var url = '@Url.Content("~/Formacion/Idiomas/")';
            location.href = url + _id;
        }

        $("#btnCancelar").click(function () {
            var url = '@Url.Content("~/Formacion/Idiomas/")';
            location.href = url;
        });

        @if (ViewBag.action == "saved")
        {
            <text>
        ShowResponse("OK");
        SelectRow('tab_logic', 'row_id_' + @ViewBag.id);
        </text>
        }


        @*@if(Model.cnID_Idioma>0)
        {
            <text>
        $('form').data('formValidation').enableFieldValidators('txtCertificado', false);

        </text>
        }*@


        $("#cnID_Lengua").change(function(){
            var enabled=false;
            if($("#cnID_Lengua").val()=="@BaseGlobal.Otros")
            {
                enabled=true;
            }

            if(enabled)
            {
                $("input[name=ctLenguaOtro]").attr("required","required");
                $('form').formValidation('addField',$("input[name=ctLenguaOtro]"));
                $('form').formValidation('revalidateField', 'ctLenguaOtro');
            }
            else
            {
                $("input[name=ctLenguaOtro]").removeAttr("required");
                $("input[name=ctLenguaOtro]").parent().removeClass("has-error");
                $('form').formValidation('removeField',$("input[name=ctLenguaOtro]"));
                $('form').formValidation('revalidateField', 'ctLenguaOtro');
            }

        })

    </script>
}