﻿@model List<SalarDb.CodeGen.Model.tbCandidatoModel>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover" id="tab_list_post"
               data-toggle="table" data-show-toggle="true" data-show-export="true">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres y Apellidos</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Teléfono Casa</th>
                    <th>Teléfono Móvil</th>
                    <th>Hoja de Vida</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr>
                        <td><label>@(i + 1)</label></td>
                        <td>@item.NombreCompleto</td>
                        <td>@item.NumeroDNI</td>
                        <td>@item.ctEmail</td>
                        <td>@item.ctTelefonoCasa</td>
                        <td>@item.ctTelefonoMovil</td>
                        <td class="text-center">
                            <a title="Ver..." href="@Url.Content("~/Seleccion/GetHojaVida?doc=true&cnID_Candidato="+item.cnID_Candidato.ToString())" target="_blank"><span class="fa fa-file-text-o"></span></a>
                        </td>
                        <td>
                            <a title="Actualizar correo..." href="#" data-toggle="modal" data-id="@string.Format("{0}{1}{2}", item.cnID_Candidato.ToString(), "/" ,@item.ctEmail.Trim())" class="open-AddBookDialog"><span class="fa fa-pencil"></span></a>
                        </td>
                        <td class="text-center">
                            <a title="Resetear contraseña..." href="#" class="lnkResetPwd" data-id-candidato="@item.cnID_Candidato"><span class="fa fa-undo"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalActualizarEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Candidato: Modificar correo electrónico</h4>
            </div>
            <form role="form" data-toggle="validator">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="textoEmail">Correo Electrónico:</label>
                                <input type="text" class="form-control" id="textoEmail" name="textoEmail" placeholder="Correo Electrónico" required="required" maxlength="100">

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnActualizarEmail">Grabar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input type="hidden" id="hddIdCandidato" value="" />
<input type="hidden" id="hddUrlSaveEmail" value="@Url.Content("~/Convocatoria/SaveCorreo")" />
<input type="hidden" id="hddUrlResetPwd" value="@Url.Content("~/Convocatoria/ResetPassw")" />

<script type="text/javascript">

    $(window).ready(function(){


        $(".lnkResetPwd").click(function () {
            var idCandidato = $(this).attr("data-id-candidato");
            $.post($("#hddUrlResetPwd").val(),
                {
                    id: idCandidato
                }, function (result)
                {
                    bootboxAlert("Reseteado correctamente");
                })
        })
    })

</script>