﻿@model SalarDb.CodeGen.Model.tbProcesoModel
<div class="row">

    <div class="col-md-8">
        <label id="add_row_cobertura" class="btn btn-link add_row_cobertura">
            Agregar nueva cobertura
        </label>

        <table class="table table-striped table-hover" id="tab_cobertura">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>

                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.tbProcesoCoberturaList.Count; i++)
                {
                    var item = Model.tbProcesoCoberturaList[i];
                    <tr>
                        @if (i == 0)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td class='deleterow' onclick="removeRowCobertura(this,'@item.cnID_Cobertura')"><div class='glyphicon glyphicon-remove'></div></td>
                        }

                        <td>
                            <div class="form-group">
                                @Html.Hidden("tbProcesoCoberturaList_cnID_Cobertura[]", item.cnID_Cobertura, new { id = "tbProcesoCoberturaList_" + i + "_cnID_Cobertura", @class = "cssCoberturaRow" })
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success bntZonas" type="button" onclick="addZonaCobertura(this)" data-cobertura-id="@item.cnID_Cobertura" data-cobertura-row-id="@i">Zonas</button>
                                    </span>
                                    @Html.TextBox("tbProcesoCoberturaList_ctNombre[]", item.ctNombre, new { @class = "form-control  text-uppercase", id = "tbProcesoCoberturaList_" + i + "_ctNombre" })

                                </div>

                            </div>



                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="hdnUrlAddZonaCobertura" value="@Url.Content("~/Convocatoria/AddZonaCobertura")" />
<input type="hidden" id="hdnSaveCoberturaUrl" value="@Url.Content("~/Convocatoria/SaveCobertura")" />

<script type="text/javascript">
    function removeRowCobertura(obj, _id) {
        //alert(_id);
        if (_id > 0) {
            bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                $.post('@Url.Content("~/Convocatoria/DeleteCobertura")', { id: _id },
                    function (resp) {
                        ShowResponseDelete(resp, "Verifique que ha eliminado todas las zonas previamente.");
                        if (resp == "OK") {
                            var $killrow = $(obj).parent('tr');
                            $killrow.addClass("danger");
                            $killrow.fadeOut(100, function () {
                                $(this).remove();

                                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCoberturaList_ctNombre[]"]'));
                                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCoberturaList_ctCobertura[]"]'));
                            });
                        }
                    });
            });
        }
        else {


            var $killrow = $(obj).parent('tr');
            $killrow.addClass("danger");
            $killrow.fadeOut(100, function () {
                $(this).remove();

                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCoberturaList_ctNombre[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCoberturaList_ctCobertura[]"]'));
            });
        }
    }



</script>