﻿@model SalarDb.CodeGen.Model.tbProcesoMatrizLaboModel
@{
    var tbProcesoCnfgLaboModel = (SalarDb.CodeGen.Model.tbProcesoCnfgLaboModel)ViewBag.tbProcesoCnfgLaboModel;
}
@Html.HiddenFor(model => model.cnID_MatrizLaboral)
@Html.HiddenFor(model => model.cnID_CnfgLaboral, new { id = "cnID_CnfgLaboral_popup" })
<form role="form" id="frmMatrizAgregar">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cnID_Grado">Tipo Criterio Laboral:</label>
                @Html.DropDownListFor(model => tbProcesoCnfgLaboModel.cnID_TipoCriterioLabo, (List<SelectListItem>)ViewBag.TipoCriterioLaboralListado, new { @class = "form-control", placeholder = "Tipo Criterio Laboral", required = "required", disabled = "disabled", id = "cnID_TipoCriterioLabo" })
                <span class="help-block">Sólo se permiten letras</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="ctDescripcion">Descripción:</label>
                @Html.TextAreaFor(model => tbProcesoCnfgLaboModel.ctDescripcion, 3, 5, new { @class = "form-control", placeholder = "Descripción", required = "required", id = "ctDescripcion_matriz" })
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cnID_TipoEvaluacion">Tipo de Evaluación:</label>
            </div>
            <div class="form-group">
                @Html.RadioButtonForSelectList(model => model.cnID_TipoEvaluacion, (List<SelectListItem>)ViewBag.TipoEvaluacionListado)
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Mínimo:</label>
                @Html.TextBoxFor(model => model.cnMininmo, new { @class = "form-control", placeholder = "Mínimo", required = "required", type = "number" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Máximo:</label>
                @Html.TextBoxFor(model => model.cnMaximo, new { @class = "form-control", placeholder = "Máximo", required = "required", type = "number" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Puntaje:</label>
                @Html.TextBoxFor(model => model.cnPuntaje, new { @class = "form-control", placeholder = "Puntaje", required = "required", type = "number" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>&nbsp;</label>
                @if (Model.cnID_MatrizLaboral == 0)
                {
                    <button type="submit" class="btn btn-primary add_row_matriz_laboral form-control" id="add_row_matriz_laboral">Agregar</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary add_row_matriz_laboral form-control" id="add_row_matriz_laboral">Actualizar</button>
                }
            </div>
        </div>
    </div>


    @if (Model.cnID_MatrizLaboral == 0)
    {
        <div class="row" id="divMatrizLaboralListado">
        </div>
    }
    <div class="box-footer text-center">
        <button type="button" class="btn btn-primary" id="btnActualizarConfLaboral">Guardar</button>
    </div>

</form>
<style type="text/css">
    .modal {
        direction: ltr;
        overflow-y: auto;
    }

        .modal .modal-dialog {
            direction: ltr;
        }

    .modal-open {
        overflow: auto;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        //Guardar
        @if (Model.cnID_MatrizLaboral == 0)
    {
            <text>

        $("#cnMininmo").val("");
        $("#cnMaximo").val("");
        $("#cnPuntaje").val("");
        </text>
        //$("#cnID_TipoCriterioLabo").val("");
    }

        $.get($("#hdnMatrizListadoUrl").val(), { id: $("#cnID_Proceso").val() }, function (result) {
            $("#divMatrizLaboralListado").html(result);
        });

        $('#frmMatrizAgregar').formValidation({
            message: 'This value is not valid',
            excluded: [':disabled'],
            fields: {
                'cnID_TipoEvaluacion': {
                    validators: {
                        notEmpty: {
                            message: ''
                        }
                    }
                }
            }

        }).on('err.field.fv', function (e, data) {
            // Hide the messages
            data.element
                .data('fv.messages')
                .find('.help-block[data-fv-for="' + data.field + '"]').hide();
        })
        .on('submit', function (e) {


            if (e.isDefaultPrevented()) {
                // handle the invalid form...

            }
            else {
                $.post("@Url.Content("~/Convocatoria/SaveMatriz")",
             {
                 cnID_MatrizLaboral: getZero($("#cnID_MatrizLaboral").val()),
                 cnID_CnfgLaboral: getZero($("#cnID_CnfgLaboral_popup").val()),
                 cnID_TipoEntidad: getZero($("#cnID_TipoEntidad").val()),
                 cnID_Proceso: getZero($("#cnID_Proceso").val()),
                 //cnID_TipoEvaluacion: getZero($("input[name=cnID_TipoEvaluacion]:checked").val()),
                 cnMininmo: $("#cnMininmo").val(),
                 cnMaximo: $("#cnMaximo").val(),
                 cnPuntaje: $("#cnPuntaje").val(),
                 ctDescripcion: $("#ctDescripcion_matriz").val(),
                 cnID_TipoCriterioLabo: getZero($("#cnID_TipoCriterioLabo").val()),
                 model: JSON.stringify($('#frmPrincipal').serializeObject())
             },
             function (res) {
                 if (res.result == "KO") {
                     if (res.message == null || res.message == undefined)
                         bootboxError("Ha ocurrido un error al guardar la matriz.");
                     else
                         bootboxError(res.message);
                     return;
                 }

                 $("#cnID_CnfgLaboral_popup").val(res.cnID_CnfgLaboral);
                 //$("#cnID_Proceso").val(res.cnID_Proceso);

                 /*
                 if ($("#cnID_MatrizLaboral").val() != "0") {

                     bootbox.hideAll();
                     bootboxAlert('Actualizado correctamente');
                     //loadMatrizGrids(true,false,0);
                     return;
                 }
                 */
                 //$("#ctDescripcion_matriz").val("");
                 $("#cnMininmo").val("");
                 $("#cnMaximo").val("");
                 $("#cnPuntaje").val("");
                 //$("input[name=cnID_TipoEvaluacion]").prop('checked', false);
                 //$("#cnID_TipoCriterioLabo").val("");
                 bootboxAlert('Agregado correctamente');
                 loadMatriz();
                 loadCriteriosLaborales();


                 @*//loadMatrizGrids(true, true,@Model.cnID_TipoCriterioLabo);*@
             })
                return false;
            }

        });



        $("#btnActualizarConfLaboral").click(function () {


            $.post("@Url.Content("~/Convocatoria/SaveConfiguracionLaboral")",
            {
                cnID_MatrizLaboral: getZero($("#cnID_MatrizLaboral").val()),
                cnID_CnfgLaboral: getZero($("#cnID_CnfgLaboral_popup").val()),
                cnID_TipoEntidad: getZero($("#cnID_TipoEntidad").val()),
                cnID_Proceso: getZero($("#cnID_Proceso").val()),
                cnID_TipoEvaluacion: getZero($("input[name=cnID_TipoEvaluacion]:checked").val()),
                ctDescripcion: $("#ctDescripcion_matriz").val(),
                cnID_TipoCriterioLabo: getZero($("#cnID_TipoCriterioLabo").val()),
                model: JSON.stringify($('#frmPrincipal').serializeObject())
            },
            function (res) {
                if (res.result == "KO") {
                    bootboxError("Ha ocurrido un error al agregar el criterio.");
                    return;
                }

                loadCriteriosLaborales();
                bootbox.hideAll();
                bootboxAlert('Guardado correctamente');
            })
        })
    });

    function loadMatriz() {

        $.get($("#hdnMatrizListadoUrl").val(), { id: $("#cnID_Proceso").val(), tipoCriterio: $("#cnID_TipoCriterioLabo").val() }, function (result) {
            $("#divMatrizLaboralListado").html(result);


        });

    }

    @if(tbProcesoCnfgLaboModel!=null){
    <text>
    $("#cnID_TipoCriterioLabo").val("@tbProcesoCnfgLaboModel.cnID_TipoCriterioLabo");
    </text>
    }
</script>
