﻿@model SalarDb.CodeGen.Model.tbProcesoCnfgLaboModel
@Html.HiddenFor(model => model.cnID_CnfgLaboral)
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="cnID_Grado">Tipo de Entidad:</label>
            <div class="input-group">
                @Html.DropDownListFor(model => model.cnID_TipoEntidad, (List<SelectListItem>)ViewBag.TipoEntidadListado, new { @class = "form-control", placeholder = "Tipo de Entidad", required = "required" })

            </div>
        </div>
    </div>


</div>
@*@if (Model.cnID_CnfgLaboral > 0)*@
@*divMatrizLaboralListadoMain*@

<div class="row" id="divCriteriosLaborales">
</div>

@Html.Hidden("hdnMatrizUrl", @Url.Content("~/Convocatoria/CriterioLaboralMatriz"), new { id = "hdnMatrizUrl" })
@Html.Hidden("hdnMatrizListadoUrl", @Url.Content("~/Convocatoria/MatrizLaboralListado"), new { id = "hdnMatrizListadoUrl" })
@Html.Hidden("hdnCiterioLaboralListadoUrl", @Url.Content("~/Convocatoria/CriterioLaboralListado"), new { id = "hdnCiterioLaboralListadoUrl" })

