﻿@model List<SalarDb.CodeGen.Model.tbProcesoCriterioAdicModel>
<div class="row">

    <div class="col-md-8">
        <label id="add_row_crit_adicio" class="btn btn-link add_row_crit_adicio">
            Agregar nueva criterio
        </label>
        <table class="table table-striped table-hover" id="tab_crit_adicional">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripción</th>
                    <th>Puntaje</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr>
                                               
                            <td class='deleterow' onclick="removeRowAdicional(this,'@item.cnID_CriterioAdicional')"><div class='glyphicon glyphicon-remove'></div></td>
                       

                        <td>
                            <div class="form-group">
                                @Html.Hidden("tbProcesoCriterioAdicModelList_cnID_CriterioAdicional[]", item.cnID_CriterioAdicional, new { id = "tbProcesoCriterioAdicModelList_" + i + "_cnID_CriterioAdicional" })
                                @Html.TextBox("tbProcesoCriterioAdicModelList_ctDescripcion[]", item.ctDescripcion, new { @class = "form-control  text-uppercase", id = "tbProcesoCriterioAdicModelList_" + i + "_ctDescripcion", required = "required", maxlength = "150" })
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.TextBox("tbProcesoCriterioAdicModelList_cnPuntaje[]", item.cnPuntaje, new { @class = "form-control  text-uppercase", id = "tbProcesoCriterioAdicModelList_" + i + "_cnPuntaje", required = "required", type = "number" })
                            </div>
                        </td>



                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function removeRowAdicional(obj, _id) {
        //alert(_id);
        if (_id > 0) {
            bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                $.post('@Url.Content("~/Convocatoria/DeleteAdicional")', { id: _id },
                    function (resp) {
                        ShowResponseDelete(resp);
                        var $killrow = $(obj).parent('tr');
                        $killrow.addClass("danger");
                        $killrow.fadeOut(100, function () {
                            $(this).remove();

                            $('form').formValidation('removeField', $(this).find('[name="tbProcesoCriterioAdicModelList_ctNombre[]"]'));
                            $('form').formValidation('removeField', $(this).find('[name="tbProcesoCriterioAdicModelList_cnPuntaje[]"]'));

                        });
                    });
            });
        }
        else {


            var $killrow = $(obj).parent('tr');
            $killrow.addClass("danger");
            $killrow.fadeOut(100, function () {
                $(this).remove();
                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCriterioAdicModelList_ctNombre[]"]'));
                $('form').formValidation('removeField', $(this).find('[name="tbProcesoCriterioAdicModelList_cnPuntaje[]"]'));
            });
        }
    }

</script>