﻿@model SalarDb.CodeGen.Model.tbProcesoModel
<div class="row">
    @Html.HiddenFor(model => model.cnID_Proceso)
    <div class="col-md-6">
        <div class="form-group">
            <label for="ctTitulo">Nombre del proceso:</label>
            @Html.TextBoxFor(model => model.ctTitulo, new { @class = "form-control text-uppercase", placeholder = "Nombre del proceso", required = "required", maxlength = "150" })
        </div>
        <div class="form-group">
            <label for="ctDescripcion">Descripción:</label>
            @Html.TextBoxFor(model => model.ctDescripcion, new { @class = "form-control text-uppercase", placeholder = "Descripción", required = "required", maxlength = "250" })
        </div>


    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="cnID_Grado">Estado:</label>
            @Html.DropDownListFor(model => model.cnID_Estado, (List<SelectListItem>)ViewBag.EstadosProcesoListado, new { @class = "form-control", required = "required" })
        </div>

    </div>
    <div class="col-md-3">

        <div class="form-group ">
            <label for="txtFechaInicioContainer">Desde:</label>
            <div class='input-group date' id='txtFechaInicioContainer'>
                @Html.TextBoxFor(model => model.cfFechaInicio, new { @class = "form-control", placeholder = "Fecha Inicio", required = "required" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>


    </div>
    <div class="col-md-3">


        <div class="form-group">
            <label for="txtFechaFinContainer">Hasta:</label>
            <div class='input-group datetime' id='txtFechaFinContainer'>
                @Html.TextBoxFor(model => model.cfFechaFin, new { @class = "form-control", placeholder = "Fecha Fin", required = "required" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group" id="divCargarTermRef">

            <label for="txtArchivoTerminos">Términos de Referencia:</label>
            @if (Model.cnID_Proceso > 0)
            {
                @*@Html.ActionLink("Descargar", "DownloadFile", new { file = Model.ctArchivoTerminos }, new { target = "_blank", @class = "btn btn-link" })*@
                <a href="#" class="btn btn-link lnkDescargar" id="lnkDescargar1" data-filename="@Model.ctArchivoTerminos">Ver</a>
            }

            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="txtArchivoTerminos" required></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" id="divCargarArchivoProceso">
            <label for="txtArchivoProceso">Archivo Proceso:</label>
            @if (Model.cnID_Proceso > 0)
            {
                @*@Html.ActionLink("Descargar", "DownloadFile", new { file = Model.ctArchivoProceso }, new { target = "_blank", @class = "btn btn-link" })*@
    <a href="#" class="btn btn-link lnkDescargar" id="lnkDescargar2" data-filename="@Model.ctArchivoProceso">Ver</a>
            }
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar</span><span class="fileinput-exists">Cambiar</span><input type="file" name="txtArchivoProceso" required></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("hdnDownloadFileUrl", @Url.Content("~/Convocatoria/DownloadFile"))
@Html.Hidden("hdnValidarProceso", @Url.Content("~/Convocatoria/ValidarProceso"))