﻿@model List<SalarDb.CodeGen.Model.tbAcademicoModel>
<div class="row">
    <div class="col-md-12">
        <section id="no-more-tables">
            <table class="table table-striped table-hover" id="tab_logic">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Carrera/Estudio</th>
                        <th>Nivel</th>
                        <th>Situación</th>
                        <th>Certificado</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var item = Model[i];
                        <tr class="@(item.Cumple? "success": "")">
                            <td>@(i + 1)</td>
                            <td>@item.ctCarrera</td>
                            <td data-title="Nivel">@item.ctGrado</td>
                            <td data-title="Situación">@item.ctSituacion</td>
                            <td data-title="Certificado"><a href="#" class="btn btn-link lnkDescargarCertificado" data-filename="@item.ctCertificado">Ver</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>

@Html.Hidden("hdnDownloadFileCertificadoUrl", @Url.Content("~/Seleccion/DownloadFile"))