﻿@model List<SalarDb.CodeGen.Model.tbPostulanteModel>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover" id="tab_list_post"
               data-toggle="table" data-show-toggle="true" data-show-export="true">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Cobertura</th>
                    <th>Nombres y Apellidos</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Teléfono Casa</th>
                    <th>Teléfono Móvil</th>
                    <th>Evaluar</th>
                    <th>Hoja de Vida</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr>
                        <td><label>@(i + 1)</label></td>
                        <td class="tdCheckbox">
                            <div class="checkbox-inline">
                                <input type="checkbox" class="chkSeleccionar" data-id-postulante="@item.cnID_Postulante">
                            </div>
                        </td>
                        <td>@item.Cobertura</td>
                        <td>@item.NombreCompleto</td>
                        <td>@item.NumeroDNI</td>
                        <td>@item.ctEmail</td>
                        <td>@item.ctTelefonoCasa</td>
                        <td>@item.ctTelefonoMovil</td>
                        <td class="text-center">
                            @Html.ActionLink(" ", "EvaluacionManual", new { id = item.cnID_Postulante }, new { @class = "fa fa-pencil" })
                        </td>
                        <td class="text-center">
                            <a title="Ver..." href="@Url.Content("~/Seleccion/GetHojaVida?cnID_Postulante=" + item.cnID_Postulante.ToString() + "&cnID_Candidato="+item.cnID_Candidato.ToString())" target="_blank"><span class="fa fa-file-text-o"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>