﻿@model List<SalarDb.CodeGen.Model.tbCoberturaZonaModel>
@{
    int index = 1;
    long id = ViewBag.CoberturaId;
}
<form role="form" id="frmCoberturaZonas">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-solid">
                <div class="box-body">
                    <table class="table table-striped table-hover" id="tab_zonas">
                        <thead>
                            <tr>

                                <th></th>
                                <th>Zona</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SalarDb.CodeGen.Model.tbCoberturaZonaModel item in Model)
                            {

                                <tr>
                                    <td data-title="Eliminar" class='deleterow' onclick="removeRowZona(this,@item.cnID_CoberturaZona)"><div class='glyphicon glyphicon-remove' title="Eliminar"></div></td>

                                    <td>
                                        <div class="form-group">
                                            @Html.Hidden("tbCoberturaZonaModelList_cnID_CoberturaZona[]", item.cnID_CoberturaZona, new { id = "tbProcesoCoberturaList_" + index + "_cnID_CoberturaZona" })
                                            @Html.TextBox("tbCoberturaZonaModelList_ctZona[]", item.ctZona, new { @class = "form-control  text-uppercase", id = "tbProcesoCoberturaList_" + index + "_ctZona", required = "required" })
                                        </div>
                                    </td>
                                    <td>
                                        @if (index == 1)
                                        {
                                            <label id="add_row_zona" class="btn btn-primary add_row_zona">
                                                Agregar
                                            </label>
                                        }
                                    </td>
                                </tr>
                                        index++;


                            }
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="box-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnGuardarZonas">Guardar</button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $(window).ready(function () {

        var nroFilaZona=@Model.Count;

        $("#add_row_zona").click(function () {

            var $template = $('<tr><td data-title="Eliminar" class="deleterow" onclick="removeRowZona(this,0)"><div class="glyphicon glyphicon-remove" title="Eliminar"></div></td>  <td><div class="form-group"><input id="tbProcesoCoberturaList_'+nroFilaZona+'_cnID_CoberturaZona" name="tbCoberturaZonaModelList_cnID_CoberturaZona[]" type="hidden" value="0"><input class="form-control  text-uppercase" id="tbProcesoCoberturaList_'+nroFilaZona+'_ctZona" name="tbCoberturaZonaModelList_ctZona[]" type="text" value=""></div></td><td></td></tr>');
            $('#tab_zonas tr:last').after($template);

            $('form').formValidation('addField', $template.find('[name="tbCoberturaZonaModelList_ctZona[]"]'));

            nroFilaZona++;
        });





    });

    function removeRowZona(obj, _id) {
        //alert(_id);
        if (_id > 0) {
            bootboxConfirm('¿Está seguro de eliminar el registro?', function () {
                $.post('@Url.Content("~/Convocatoria/DeleteZona")', { id: _id },
                    function (resp) {
                        ShowResponseDelete(resp);
                        var $killrow = $(obj).parent('tr');
                        $killrow.addClass("danger");
                        $killrow.fadeOut(100, function () {
                            $(this).remove();

                            $('form').formValidation('removeField', $(this).find('[name="tbCoberturaZonaModelList_ctZona[]"]'));
                        });
                    });
            });
        }
        else {


            var $killrow = $(obj).parent('tr');
            $killrow.addClass("danger");
            $killrow.fadeOut(100, function () {
                $(this).remove();

                $('form').formValidation('removeField', $(this).find('[name="tbCoberturaZonaModelList_ctZona[]"]'));

            });
        }
    }


    $('#frmCoberturaZonas').formValidation(
            {
                fields: {
                    'tbCoberturaZonaModelList_ctZona[]': {
                        validators: {
                            notEmpty: {
                                message: 'Este campo es requerido'
                            }
                        }
                    }
                }
            })
            .on('err.field.fv', function (e, data) {
                data.element
                    .data('fv.messages')
                    .find('.help-block[data-fv-for="' + data.field + '"]').hide();
            })
        .on('submit', function (e) {


            if (e.isDefaultPrevented()) {
                // handle the invalid form...

            }
            else {

                $.post("@Url.Content("~/Convocatoria/SaveZonas")",
                    {
                        id : @id,
                        'tbCoberturaZonaModelList_cnID_CoberturaZona[]': $('[name="tbCoberturaZonaModelList_cnID_CoberturaZona[]"]').map(function(){return $(this).val();}).get(),
                        'tbCoberturaZonaModelList_ctZona[]': $('[name="tbCoberturaZonaModelList_ctZona[]"]').map(function(){return $(this).val();}).get()
                    },
                    function (resp) {
                        if (resp.result == "OK") {
                            bootbox.hideAll();
                            bootboxAlert('Guardado correctamente');
                           
                        }
                        else {
                            bootboxError("Ha ocurrido un error al iniciar sesión. Verifique si sus datos son válidos.")
                            $("#btnIngresar").removeAttr("disabled");
                        }
                    });
                return false;
            }

        });

</script>