﻿@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/ConsultaCandidatos.js")"></script>
}
<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
        <li class="active">Consulta de Candidatos</li>
    </ol>
</section>
<section class="content">

    <div class="box-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Consulta de Candidatos</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default" id="btnBuscar">Buscar</a>
                        </div>
                    </div>
                </div>
                <div class="row margin">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ctNombreCompleto">Nombres y Apellidos:</label>
                            @Html.TextBox("ctNombreCompleto", string.Empty, new { @class = "form-control", placeholder = "Apellidos y Nombres" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ctNumeroDNI">DNI:</label>
                            @Html.TextBox("ctNumeroDNI", string.Empty, new { @class = "form-control", placeholder = "DNI" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ctEmail">Correo Electrónico:</label>
                            @Html.TextBox("ctEmail", string.Empty, new { @class = "form-control", placeholder = "Correo Electrónico" })
                        </div>
                    </div>
                </div>

                <div id="divResultadoCandidatos"></div>
            </div>

        </div>
    </div>

</section>
@Html.Hidden("hdnConsultaCandidatosUrl", Url.Content("~/Convocatoria/ListarCandidatos"), new { id = "hdnConsultaCandidatosUrl" })

