﻿@model SalarDb.CodeGen.Model.tbPostulanteModel
@using System.Linq;
@{
    Layout = BaseGlobal._Layout;
    SalarDb.CodeGen.Model.tbPostulanteEvalManualModel lotbPostulanteEvalManualModelAcad = ViewBag.tbPostulanteEvalManualModelAcad;
    SalarDb.CodeGen.Model.tbPostulanteEvalManualModel lotbPostulanteEvalManualModelLab = ViewBag.tbPostulanteEvalManualModelLab;
    SalarDb.CodeGen.Model.tbPostulanteEvalManualModel lotbPostulanteEvalManualModelDoc = ViewBag.tbPostulanteEvalManualModelDoc;
}
@section view_scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/view/EvaluacionManual.js")"></script>
}

<section class="content">
    <div class="box-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Evaluación Manual</h3></div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Proceso / Convocatoria:</label>
                            @Html.TextBoxFor(model => model.tbProcesoModel.ctTitulo, new { @class = "form-control text-uppercase", placeholder = "Proceso / Convocatoria", disabled = "disabled" })

                        </div>


                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Cobertura / Zona:</label>
                            @Html.TextBox("txtProcesoCobertura", (string)ViewBag.ProcesoCobertura, new { @class = "form-control text-uppercase", placeholder = "Proceso / Convocatoria", disabled = "disabled" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Postulante:</label>
                            @Html.TextBoxFor(model => model.tbCandidatoModel.NombreCompleto, new { @class = "form-control text-uppercase", placeholder = "Proceso / Convocatoria", disabled = "disabled" })
                        </div>


                    </div>
                </div>



                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" class="@(lotbPostulanteEvalManualModelAcad.cnEvaluacion ? "text-green" : " text-red")" id="lnktab_1" data-toggle="tab" aria-expanded="false">Criterio Académico <i class="fa"></i></a></li>
                        <li class=""><a href="#tab_2" class="@(lotbPostulanteEvalManualModelLab.cnEvaluacion ? "text-green" : " text-red")" id="lnktab_2" data-toggle="tab" aria-expanded="false">Criterio Laboral <i class="fa"></i></a></li>
                        <li class=""><a href="#tab_3" class="@(lotbPostulanteEvalManualModelDoc.cnEvaluacion ? "text-green" : " text-red")" id="lnktab_3" data-toggle="tab" aria-expanded="false">Documentos <i class="fa"></i></a></li>


                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <input type="hidden" value="@lotbPostulanteEvalManualModelAcad.cnPostulanteEvalManual" id="hdnIdAcad" />
                            @Html.Partial("_EvaluacionCriterioAcademico", Model.tbAcademicoModelList)
                        </div><!-- /.tab-pane -->

                        <div class="tab-pane" id="tab_2">
                            <input type="hidden" value="@lotbPostulanteEvalManualModelLab.cnPostulanteEvalManual" id="hdnIdLab" />
                        @Html.Partial("_EvaluacionCriterioLaboralEsp", Model.tbExperienciaModelList)
                        </div><!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <input type="hidden" value="@lotbPostulanteEvalManualModelDoc.cnPostulanteEvalManual" id="hdnIdDoc" />
                            @Html.Partial("_EvaluacionDocumentos", Model.tbPostulanteDocuList)
                        </div><!-- /.tab-pane -->


                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Observaciones:</label>
                                @Html.TextArea("txtObservaciones", new { @class = "form-control text-uppercase", placeholder = "Observaciones" })
                                <input type="hidden" value="@lotbPostulanteEvalManualModelAcad.ctObservacion" id="hdnObservacionAcad" />
                                <input type="hidden" value="@lotbPostulanteEvalManualModelLab.ctObservacion" id="hdnObservacionLab" />
                                <input type="hidden" value="@lotbPostulanteEvalManualModelDoc.ctObservacion" id="hdnObservacionDoc" />

                            </div>
                        </div>
                    </div>

                    <div class="box-footer text-center">
                        <button type="button" class="btn btn-success btnGuardar" data-option="true" id="btnCumple">Cumple</button>
                        <button type="button" class="btn btn-primary btnGuardar" data-option="false" id="btnNoCumple">No Cumple</button>
                        <button type="button" class="btn btn-warning" id="btnCancelar">Cerrar</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
<input type="hidden" value="@Model.cnID_Postulante" id="hdnIdPostulante" />
<input type="hidden" value="@Url.Content("~/Convocatoria/SaveEvaluacionManual")" id="hdnSaveEvaluacionManualUrl" />

@section inpage_scripts{
    <script type="text/javascript">
        $(window).ready(function () {
            $("#btnCancelar").click(function () {
                var url = '@Url.Content("~/Convocatoria/ConsultaPostulantes/")';
                location.href = url;
            });


            $("#txtObservaciones").val($("#hdnObservacionAcad").val());

            $("#lnktab_1").click(function () {
                $("#txtObservaciones").val($("#hdnObservacionAcad").val());
            })

            $("#lnktab_2").click(function () {
                $("#txtObservaciones").val($("#hdnObservacionLab").val());
            })

            $("#lnktab_3").click(function () {
                $("#txtObservaciones").val($("#hdnObservacionDoc").val());
            })

            $("#txtObservaciones").change(function () {
                if ($("#tab_1").hasClass("active")) {
                    $("#hdnObservacionAcad").val($("#txtObservaciones").val());
                }
                else if ($("#tab_2").hasClass("active")) {
                    $("#hdnObservacionLab").val($("#txtObservaciones").val());
                }
                else if ($("#tab_3").hasClass("active")) {
                    $("#hdnObservacionDoc").val($("#txtObservaciones").val());
                 
                }
            })
        })

    </script>
}
